body {
  margin: 0;
  padding: 0;
  background: #d1d1d1;
  font-family: Arial, sans-serif;
}
.container {
  width: 1000px;
  margin: 0;
}
.container.container-margined {
  margin-left: 20px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.relatived {
  position: relative;
}
.row-fluid.no-margin [class*="span"] {
  margin-left: 0;
  margin-right: 0;
}
.text-white {
  color: white;
}
.text-white:hover {
  color: white;
}
.inline-block {
  display: inline-block;
}
.reset-font {
  font-size: 14px;
}
.clear {
  clear: both;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.header,
.content-wrapper,
.pre-footer,
footer {
  padding: 0 30px;
  width: 940px;
  margin: 0 auto;
  border-left: 8px solid rgba(0,0,0,0.4);
  border-right: 8px solid rgba(0,0,0,0.4);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.content-wrapper.content-wrapper-nopadding {
  padding: 0;
  width: 1000px;
}
.header,
footer {
  background: url("/themes/common/images/header_bg.png") repeat;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  padding-top: 18px;
}
.header .buttons {
  margin-top: 10px;
}
.header .logo {
  margin-left: -10px;
}
.header .logged-box {
  position: absolute;
  top: 0;
  right: 30px;
  background: #1f1f1f;
  padding: 6px 8px;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 30px;
}
.header .logged-box .user-logged-navbar {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  height: 30px;
  margin: 0;
}
.header .logged-box .user-logged-navbar a {
  padding: 5px 7px;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.header .logged-box .user-logged-navbar a:hover {
  background: none;
}
.header .logged-box .user-logged-navbar a:hover i {
  background-image: url("/themes/common/images/icons/yellow.png");
}
.header .logged-box .user-login {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 10px;
}
.navigation {
  margin-top: 20px;
  padding-right: 5px;
  font-size: 0.9em;
}
.navigation i {
  margin-right: 5px;
  vertical-align: baseline;
}
.navigation .nav,
.navigation form {
  margin-bottom: 0;
}
.navigation .btn-group:first-of-type {
  margin-left: 5px;
}
.navigation .home-box {
  background: #ffde00;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -2px;
  margin-bottom: 0;
}
.navigation .home-box:hover {
  background: #ffde00 !important;
}
.navigation .home-box i {
  margin-right: 0;
}
.navigation .search-box {
  width: 132px;
  height: 15px;
  line-height: 15px;
  margin: 4px 0 0 15px;
  background: url("/themes/common/images/icons/search.png") no-repeat 128px center #fff;
}
.navigation .btn-group {
  margin-top: 4px;
}
.navigation ul.menu > li {
  margin-left: 5px;
}
.navigation ul.menu > li:first-child,
.navigation ul.menu > li:nth-of-type(2) {
  margin-left: 0;
}
.navigation ul.menu > li > a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  color: #dfdfdf;
  text-transform: uppercase;
}
.navigation ul.menu > li > a:hover {
  color: #fff;
  background: none;
}
.content-wrapper {
  background: white;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  min-height: 600px;
}
footer {
  padding-top: 25px;
}
footer .footer_top {
  padding-top: 28px;
}
footer .footer_bottom {
  padding-bottom: 45px;
}
footer .footer_navigation .inline-menu {
  margin-bottom: 0;
}
footer .footer_navigation .inline-menu li {
  padding-top: 0;
  padding-bottom: 0;
}
footer .footer_navigation .inline-menu li a {
  padding: 0 5px;
  color: #fff;
  font-size: 0.8em;
}
footer .footer_navigation .inline-menu li a:hover {
  background: none;
  color: #ffde00;
}
footer .footer_navigation .divider-vertical {
  background: #fff;
  width: 1px;
  height: 12px;
  margin-top: 4px;
}
footer .footer_navigation .inline-menu-down li {
  color: #aeaeae;
  font-size: 0.8em;
  line-height: 14px;
}
footer .footer_navigation .inline-menu-down li a {
  color: inherit;
  font-size: 1em;
  margin: 0;
}
footer .footer_navigation .inline-menu-down .divider-vertical {
  background: #aeaeae;
  width: 1px;
  height: 12px;
  margin-top: 2px;
}
.menu-btn-gray {
  padding-left: 0;
  padding-right: 0;
}
.menu-btn-gray li {
  display: block;
  text-align: left;
}
.menu-btn-gray li + li {
  margin-top: 3px;
}
.menu-btn-gray a {
  color: inherit;
}
.menu-btn-gray a:hover {
  background: none;
}
.menu-plain-list {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  font-weight: bold;
}
.menu-plain-list li {
  display: block;
  text-align: left;
}
.menu-plain-list li + li {
  margin-top: 3px;
}
.menu-plain-list a {
  color: inherit;
}
.menu-plain-list a:hover {
  background: none;
}
.menu-items-dotted {
  padding-top: 10px;
}
.menu-items-dotted li {
  border-bottom: 1px dotted black;
  padding: 5px 0;
}
.carousel.carousel-fade .item {
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -ms-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 2;
}
.carousel.carousel-fade .next {
  left: 0;
  opacity: 1;
  z-index: 1;
}
.carousel.carousel-skew .item > img {
  outline: 1px solid transparent;
  -webkit-transform: perspective(800px) rotateY(8deg) translateX(35px) translateY(10px);
  -moz-transform: perspective(800px) rotateY(8deg) translateX(35px) translateY(10px);
  -o-transform: perspective(800px) rotateY(8deg) translateX(35px) translateY(10px);
  transform: perspective(800px) rotateY(8deg) translateX(35px) translateY(10px);
}
.carousel.carousel-skew .carousel-inner {
  overflow: visible;
}
.text-purple {
  color: #51009c;
}
.circle-purple {
  background: #51009c;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}
.circle-purple i {
  margin-top: 0;
}
.btn-gray {
  background: #efefef;
  border-color: #e6e6e6;
  border-width: 2px;
  font-weight: 700;
}
.btn-gray:hover,
.btn-gray:focus,
.open .btn-gray {
  background: #e6e6e6 !important;
}
.btn-yellow {
  background: #ffde00;
  border-color: #ffc000;
  border-width: 2px;
  font-weight: 700;
}
.btn-yellow:hover,
.btn-yellow:focus,
.open .btn-yellow {
  background: #ffc000 !important;
}
.btn [class^="icon-custom-"],
.btn [class*=" icon-custom-"] {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
}
[class^="icon-custom-"].align-right,
[class*=" icon-custom-"].align-right {
  margin-right: 0;
  margin-left: 5px;
  vertical-align: baseline;
}
[class^="icon-custom-"].float-right,
[class*=" icon-custom-"].float-right {
  float: right;
  margin-top: 6px;
}
[class^="icon-custom-"],
[class*=" icon-custom-"] {
  display: inline-block !important;
  background-image: url("/themes/common/images/icons/black.png");
  background-repeat: no-repeat;
}
[class^="icon-custom-"].icon-white,
[class*=" icon-custom-"].icon-white {
  background-image: url("/themes/common/images/icons/white.png");
}
[class^="icon-custom-"].icon-yellow,
[class*=" icon-custom-"].icon-yellow {
  background-image: url("/themes/common/images/icons/yellow.png");
}
[class^="icon-custom-"].icon-purple,
[class*=" icon-custom-"].icon-purple {
  background-image: url("/themes/common/images/icons/purple.png");
}
[class^="icon-custom-"].icon-orange,
[class*=" icon-custom-"].icon-orange {
  background-image: url("/themes/common/images/icons/orange.png");
}
.icon-custom-home {
  background-position: 0 0;
  width: 16px;
  height: 16px;
}
.icon-custom-pop {
  background-position: -23px -4px;
  width: 12px;
  height: 12px;
}
.icon-custom-camera {
  background-position: -43px -4px;
  width: 12px;
  height: 12px;
}
.icon-custom-wifi {
  background-position: -63px -5px;
  width: 12px;
  height: 12px;
}
.icon-custom-person {
  background-position: -83px -4px;
  width: 9px;
  height: 12px;
}
.icon-custom-calendar {
  background-position: -101px -4px;
  width: 12px;
  height: 12px;
}
.icon-custom-pin {
  background-position: -101px -4px;
  width: 12px;
  height: 12px;
}
.icon-custom-lock {
  background-position: -139px -4px;
  width: 9px;
  height: 12px;
}
.icon-custom-calendar.icon-large {
  background-position: 0 -31px;
  width: 16px;
  height: 16px;
}
.icon-custom-star {
  background-position: -21px -31px;
  width: 16px;
  height: 16px;
}
.icon-custom-wifi.icon-large {
  background-position: -41px -31px;
  width: 16px;
  height: 16px;
}
.icon-custom-camera.icon-large {
  background-position: -64px -31px;
  width: 16px;
  height: 16px;
}
.icon-custom-thumb-up.icon-large {
  background-position: -87px -32px;
  width: 15px;
  height: 15px;
}
.icon-custom-thumb-down.icon-large {
  background-position: -109px -32px;
  width: 15px;
  height: 15px;
}
.icon-custom-dice.icon-large {
  background-position: -132px -31px;
  width: 20px;
  height: 20px;
}
.icon-custom-arrow-right {
  background-position: -4px -56px;
  width: 4px;
  height: 8px;
}
.icon-custom-arrow-left {
  background-position: -12px -56px;
  width: 4px;
  height: 8px;
}
.icon-custom-arrow-up {
  background-position: -21px -60px;
  width: 8px;
  height: 4px;
}
.icon-custom-arrow-down {
  background-position: -31px -60px;
  width: 8px;
  height: 4px;
}
.icon-custom-arrow-circle-right {
  background-position: -3px -68px;
  width: 17px;
  height: 17px;
}
.icon-custom-arrow-circle-left {
  background-position: -24px -68px;
  width: 17px;
  height: 17px;
}
.icon-custom-arrow-circle-up {
  background-position: -47px -68px;
  width: 17px;
  height: 17px;
}
.icon-custom-arrow-circle-down {
  background-position: -70px -68px;
  width: 17px;
  height: 17px;
}
.icon-custom-star.icon-huge {
  background-position: -3px -89px;
  width: 32px;
  height: 32px;
}
.icon-custom-star.icon-small {
  background-position: -161px -5px;
  width: 12px;
  height: 12px;
}
.icon-custom-star.icon-big {
  background-position: -145px -63px;
  width: 23px;
  height: 23px;
}
.icon-custom-pop-fill {
  background-position: -181px -5px;
  width: 12px;
  height: 12px;
}
.icon-custom-cog {
  background-position: -200px -5px;
  width: 12px;
  height: 12px;
}
