//-------------SCRIPT fullpage.js STYLES-------------

//NAVIGATION LEFT

#fp-nav ul li .fp-tooltip {
  left: 20px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: transparent;
  border: 2px solid #fff;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
  background-color: #fff;
}
#fp-nav.left {
  @media (max-width: 992px) {
    left: 0!important;
  }
}
//END NAVIGATION LEFT

//NEWS SLIDER
.fp-controlArrow.fp-prev {
  left: 150px;
  width: 40px;
  height: 60px;
  border: none!important;
  background: url("../imgs/arrow_left.png") no-repeat center;
  background-size: cover;
  @media (max-width: 1400px) {
    left: 80px;
  }
  @media (max-width: 991px) {
    left: 60px;
  }
  @media (max-width: 600px) {
    left: 40px;
  }
}
.fp-controlArrow.fp-next {
  right: 150px;
  width: 40px;
  height: 60px;
  border:none!important;
  background: url("../imgs/arrow_right.png") no-repeat center;
  background-size: cover;
  @media (max-width: 1400px) {
    right: 80px;
  }
  @media (max-width: 991px) {
    right: 60px;
  }
  @media (max-width: 600px) {
    right: 40px;
  }
}
.fp-slidesNav.bottom {
  bottom: 60px;
  @media (max-width: 1100px) {
    bottom: 30px;
  }
  @media (max-width: 991px) {
    bottom: 20px;
  }
}
//END NEWS SLIDER

//---------------MAIN SITE----------------

//OTHERS STYLES
body{
  font-family: Georgia, serif;
  font-weight: 400;
  overflow-x: hidden!important;
}
.dnone{
  display: none;
}
.white{
  color: #ffffff!important;
}
.text_white{
  color: #ffffff;
}
.text_gold{
  color: #ccab81;
}
a, button{
  outline:none!important;
  -webkit-outline:none!important;
  -moz-outline:none!important;
}
section, .fp-tableCell{
  @media (max-width: 991px) {
    height: auto!important;
  }
}

//END OTHERS STYLES

// LOGO AND MENU
#main{
  position: fixed;
  z-index:999;
  top:0;
  left:0;
  width:100%;
  @media (max-width: 991px) {
    position: relative;
  }
  @media (max-width: 991px) {
    position: relative;
    display: table;
    .col-md-3, .col-md-1{
      display: inline-block;
      padding: 0;
    }
    .col-md-3{
      float: left;
    }
    .col-md-1{
      float: right;
    }
  }
  .logo{
    position: fixed;
    z-index: 50;
    padding: 30px 0 0 45px;
    a{
      position: absolute;
    }
    img{
      max-width: 170px;
      transition: all 0.01s;
      -webkit-transition: all 0.01s;
    }
    @media (max-width: 991px) {
      position: relative;
      padding: 15px 0 15px 10px;
      a{
        position: relative;
      }
    }
    @media (max-width: 687px) {
      padding: 15px 0 15px 0;
      img{
        max-width: 150px;
      }
    }
  }
  .menu{
    width: 280px;
    height: 100vh;
    position: fixed;
    right: -500px;
    background: #ccab81;
    z-index: 999;
    transition: all 1.2s;
    -webkit-transition: all 1.2s;
    @media (max-width: 991px) {
      height: auto;
      position: absolute;
    }
    .content_menu{
      position: relative;
      width: 100%;
      height: 100%;
      @media (max-width: 991px) {
        display: table;
        height: auto;
      }
      ul.menu_items{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 120px;
        padding-top: 20px;
        font-size: 18px;
        @media (max-width: 991px) {
          position: relative;
          margin: 60px auto 0 auto;
          top: 0;
          padding-top: 10px;
          font-size: 15px;
          display: table;
        }
        &:before{
          content: '';
          width: 125px;
          height: 2px;
          position: absolute;
          background: #ffffff;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
        }
        &:after{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          border-style: solid;
          border-width: 12px 12px 0 12px;
          border-color: #ffffff transparent transparent transparent;
        }
        li{
          display: table;
          margin: 0 auto;
          padding: 12px 0;
          a{
            color: #ffffff;
          }
        }
      }
      ul.social_items{
        display: table;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        @media (max-width: 991px) {
          display: table;
          margin: 30px auto 20px auto;
          position: relative;
          top: 30px;
          bottom: 0;
          left: 0;
          transform: none;
          -webkit-transform: none;
        }
        &:before{
          content: '';
          width: 125px;
          height: 1px;
          background: #ffffff;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
        }
        li{
          display: inline-block;
          text-align: center;
          padding: 20px 5px 30px 5px;
          @-moz-document url-prefix() {
            padding: 20px 3px 30px 3px;
          }
        }
      }
    }
  }

  .overlay-menu{
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    opacity: 0;
    height:100%;
    width: 100%;
    background: rgba(0,0,0,0.5) !important;
    transition: all 1.2s !important;
    -webkit-transition: all 1.2s !important;
    visibility: hidden;
  }
  .show_overlay {
    opacity: 1;
    visibility: visible;
  }
  .show_block{
    display: block!important;
    right: 0;
  }
  button.exit {
    background: none;
    box-shadow: none;
    border: none;
    display: table;
    position: absolute;
    top: 30px;
    right: 30px;
    @media (max-width: 991px) {
      top: 10px;
      right: 10px;
    }
  }
  button.show_menu{
    position: fixed;
    z-index: 990;
    background: none;
    box-shadow: none;
    border: none;
    right: 30px;
    top: 30px;
    color: #ccab81;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.01s;
    -webkit-transition: all 0.01s;
    img{
      padding-left: 20px;
      transition: all 0.01s;
      -webkit-transition: all 0.01s;
    }
    @media (max-width: 991px) {
      position: relative;
      display: table;
      right: 5px;
    }
    @media (max-width: 687px) {
      top: 25px;
      right: 0;
      font-size: 16px;
    }
  }
}

//END LOGO AND MENU

//Columbus section
#section_columbus{
  background: url("../imgs/columbus_background.jpg") no-repeat center;
  background-size: cover;
  h3{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  h2.text_intro {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0;
    font-style: italic;
    font-size: 28px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 24px;
    }
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  a.more{
    font-size: 18px;
    color: #ccab81;
    text-transform: uppercase;
    background: rgba(0,0,0,0.3);
    border: 2px solid #ccab81;
    padding: 15px 20px;
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    @media (max-width: 1100px) {
      padding: 10px 15px;
      max-width: 230px;
      font-size: 17px;
    }
    @media (max-width: 991px) {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px;
    }
    &:hover{
      text-decoration: none;
      background: #ccab81;
      color: #ffffff;
    }
  }
  .triangle_white{
    display: table;
    z-index: 60;
    margin: 50px auto 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent;
    @media (max-width: 991px) {
      margin-bottom: 70px;
    }
  }
}
//END Columbus section

// About us section
#section_about_us{
  .content_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 100%;
    @media (max-width: 991px) {
      position: relative;
      transform: none!important;
      -webkit-transform: none!important;
      top: 0;
      left: 0;
    }
  }
  .col-md-6{
    padding: 0;
    position: relative;
    height: 100%;
  }
  .about_us_img{
    background: url("../imgs/about_us_img.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    @media (max-width: 991px) {
      display: none;
    }
  }
  h3{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ffffff;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ffffff transparent transparent transparent;
    }
  }
  h2.text_intro {
    width: 80%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0;
    font-style: italic;
    font-size: 28px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 24px;
    }
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  a.more {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    @media (max-width: 991px) {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px;
    }
    &:hover{
      text-decoration: none;
      background: #ffffff;
      color: #ccab81;
    }
  }
  .triangle_white{
    display: table;
    z-index: 60;
    margin: 50px auto 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ffffff transparent transparent transparent;
    @media (max-width: 991px) {
      margin-bottom: 70px;
    }
  }
}
//END About us section

//Investors relation section
#investors_relation{
  .content_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 100%;
    @media (max-width: 991px) {
      position: relative;
      transform: none!important;
      -webkit-transform: none!important;
      top: 0;
      left: 0;
    }
  }
  .col-md-6{
    padding: 0;
    position: relative;
    height: 100%;
  }
  .investors_relation_img{
    background: url("../imgs/investors_relation_img.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    @media (max-width: 991px) {
      display: none;
    }
  }
  h3{
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  h2.text_intro {
    width: 80%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0;
    font-style: italic;
    font-size: 28px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 24px;
    }
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  a.more {
    font-size: 18px;
    color: #ccab81;
    text-transform: uppercase;
    border: 2px solid #ccab81;
    padding: 15px 20px;
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    @media (max-width: 991px) {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px;
    }
    &:hover{
      text-decoration: none;
      background: #ccab81;
      color: #ffffff;
    }
  }
  .triangle_white{
    display: table;
    z-index: 60;
    margin: 50px auto 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent;
    @media (max-width: 991px) {
      margin-bottom: 70px;
    }
  }
}
//END Investors relation section

// News section
#news{
  h3{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    display: table;
    margin: 0 auto;
    left: 50%;
    -webkit-transition: translateX(-50%);
    top: 70px;
    transform: translateX(-50%);
    @media (max-width: 1400px) {
      top: 50px;
    }
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
      position: relative;
      left: 0;
      top: 0;
      transform: none;
      -webkit-transform: none;

    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ffffff;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ffffff transparent transparent transparent;
    }
  }
  h2.title{
    font-size: 28px;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
    @media (max-width: 991px) {
      font-size: 20px;
    }
    @media (max-width: 687px) {
      width: 60%;
      display: table;
      margin: 50px auto 0 auto;
    }
  }
  i.article_date{
    padding: 40px 0 0 0;
    font-size: 16px;
    font-style: italic;
    display: table;
    margin: 0 auto;
    @media (max-width: 1100px) {
      padding: 20px 0 0 0;
    }
    @media (max-width: 991px) {
      padding: 20px 0 0 0;
    }
    @media (max-width: 687px) {
      padding: 20px 0;
    }
  }
  span.article_text {
    width: 80%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0;
    font-style: italic;
    font-size: 20px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      padding: 30px 0;
    }
    @media (max-width: 991px) {
      font-size: 20px;
      padding: 25px 0;
      width: 60%;
    }
    @media (max-width: 687px) {
      display: none;
    }
  }
  a.more {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    @media (max-width: 991px) {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px;
    }
    &:hover{
      text-decoration: none;
      background: #ffffff;
      color: #ccab81;
    }
  }
  .triangle_white{
    display: table;
    z-index: 60;
    margin: 50px auto 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ffffff transparent transparent transparent;
    @media (max-width: 991px) {
      margin-bottom: 70px;
    }
  }

}
//END News section

//Map section
#google_map{
  @media (max-width: 991px) {
    height: 60vh!important;
  }
  #map{
    height: 100%;
    margin: 0;
    padding: 0;
    @media (max-width: 991px) {
      height: 60vh!important;
    }
  }
  .info_map{
    position: absolute;
    max-width: 430px;
    width: 100%;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    margin: 0 auto;
    background: #ccab81;
    padding: 30px 0;
    @media (max-width: 1100px) {
      bottom: 40px;
      max-width: 330px;
    }
    @media (max-width: 991px) {
      bottom: 5px;
      max-width: 200px;
      padding: 10px 0;
    }
    h3{
      color: #ffffff;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      position: relative;
      padding-bottom: 35px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      @media (max-width: 1100px) {
        font-size: 17px;
      }
      @media (max-width: 991px) {
        font-size: 15px;
        padding-bottom: 25px;
      }
      &:after{
        content: '';
        width: 170px;
        height: 5px;
        background: #ffffff;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
      }
      &:before{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        border-style: solid;
        border-width: 12px 12px 0 12px;
        border-color: #ffffff transparent transparent transparent;
      }
    }
    .map_adress{
      font-size: 20px;
      font-style: italic;
      color: #ffffff;
      padding-top: 30px;
      @media (max-width: 991px) {
        font-size: 16px;
        padding-top: 20px;
      }
    }
  }
}
//END Map section

//Contact section
#contact{
  h3{
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1400px) {
      padding-top: 20px;
      margin-top: 0px;
    }
    @media (max-width: 1100px) {
      font-size: 17px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      margin-top: 110px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  form{
    padding-top: 85px;
    @media (max-width: 1400px) {
      padding-top: 25px;
    }
    input{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid #ccab81;
      background: transparent;
      margin-bottom: 35px;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      color: #696969;
      font-weight: 700;
    }
    input[type="submit"]
    {
      max-width: 240px;
      display: table;
      margin: 0 auto 70px auto;
      text-transform: uppercase;
      color: #ccab81;
      -webkit-transition: all 1.2s;
      transition: all 1.2s;
      &:hover{
        color: #ffffff;
        background: #ccab81;
      }
      @media (max-width: 1400px) {
        margin: 0 auto 15px auto;
      }
    }
    textarea{
      resize: none;
      padding: 10px;
      min-height: 215px;
      border: 3px solid #ccab81;
      width: 100%;
      margin-bottom: 35px;
      background: transparent;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      color: #696969;
      font-weight: 700;
    }
  }
  ul.contact_info{
    margin: 0 auto;
    li{
      display: inline-block;
      padding: 5px;
      color: #ccab81;
      font-size: 16px;
      font-style: italic;
      img{
        padding-right: 10px;
      }
    }
  }
  .contact_text{
    display: table;
    margin: 50px auto 50px auto;
    text-align: center;
    color: #696969;
    font-size: 16px;
    font-style: italic;
    width: 60%;
    @media (max-width: 1400px) {
      margin: 20px auto 20px auto;
      width: 90%;
    }
    @media (max-width: 991px) {
      margin: 25px auto 25px auto;
      width: 60%;
    }
  }
  footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 50px;
    background: #ccab81;
    @media (max-width: 1366px) {
      position: relative;
    }
    p{
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-style: italic;
      padding-top: 15px;
      a{
        color: #ffffff;
        font-size: 16px;
        font-style: italic;
        &:hover{
          color: #ffffff;
          font-size: 16px;
          font-style: italic;
          text-decoration: none;
        }
      }
    }
  }

}
//END Contact section
//----------------END MAIN SITE----------

//--------------PAGE STYLE--------
@media (max-width: 1630px) and (min-width: 992px) {
  .page {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    .logo{
      padding: 25px 0 0 10px!important;
    }
  }
  .page_active{
    height: 100px;
    background: rgba(0,0,0,0.7);
  }
}


//--------------END PAGE STYLE-----


//----------------OFFER PAGE-------------
#section_page_offer{
  background: url("../imgs/page_offer.jpg") no-repeat center;
  background-size: cover;
  height: auto!important;
  .fp-tableCell{
    height: auto!important;
  }
  h3{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin-top: 120px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  h2.text_intro {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0 0 0;
    font-style: italic;
    font-size: 28px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 24px;
    }
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  .triangle_white{
    display: table;
    z-index: 60;
    margin: 65px auto 120px auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent;
    @media (max-width: 991px) {
      margin-bottom: 70px;
    }
  }
}
#offer{
  .content_offer{
    margin: 110px 0;
  }
  h3{
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  h2.text_intro {
    width: 60%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 40px 0;
    font-style: italic;
    font-size: 20px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
  div.more_padding{
    padding: 50px 0 40px 0;
  }
  div.text_content {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 20px 0;
    font-style: italic;
    font-size: 20px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
}

//------------END OFFER PAGE-------------

//----------------ABOUT US PAGE-------------
#section_page_about_us{
  background: url("../imgs/about_us_bg.jpg") no-repeat center;
  background-size: cover;
  height: auto!important;
  .fp-tableCell{
    height: auto!important;
  }
  h3{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin-top: 120px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  h2.text_intro {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0 0 0;
    font-style: italic;
    font-size: 28px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 24px;
    }
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  .triangle_white{
    display: table;
    z-index: 60;
    margin: 65px auto 120px auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent;
    @media (max-width: 991px) {
      margin-bottom: 70px;
    }
  }
}
#section_about_us_content{
  ul#myTabs{
    border: none;
    margin: 50px -5px 120px 15px;
    @media (max-width: 991px) {
      margin: 50px 0 120px 5px;
    }
    li.active{
      background: #ccab81!important;
      a{
        color: #ffffff!important;
      }
    }
      li{
        padding: 0 !important;
        margin: 0px -3px 0 -1px;
        border: 3px solid #ccab81;
        -webkit-transition: all 1.2s;
        transition: all 1.2s;
        @media (max-width: 991px) {
        width: 33.33%;
        margin: -2px -3px 0 -1px;
      }
        @media (max-width: 580px) {
          width: 50%;
          margin: -2px -3px 0 -1px;
        }
        @media (max-width: 380px) {
          width: 100%;
          margin: -2px -3px 0 -1px;
        }
        &:hover{
          text-decoration: none;
          background: #ccab81!important;
          a{
            color: #ffffff!important;
          }
        }
        a{
          border-radius: 0;
          border: none;
          background: transparent;
          color: #ccab81;
          margin: 0!important;
          text-transform: uppercase;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 16px;
          display: table;
          width: 100%;
          -webkit-transition: all 1.2s;
          transition: all 1.2s;
          @media (max-width: 1200px) {
            font-size: 14px;
            padding: 5px 5px;
          }
          @media (max-width: 991px) {
            font-size: 14px;
          }

        }
      }
  }
  #myTabContent{
    padding-bottom: 200px;
  }
  h3{
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  div.content_text {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 0 0 45px 0;
    font-style: italic;
    font-size: 20px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
    }
    span{
      text-transform: uppercase;
      color: #ccab81
    }
  }
  .more_padding{
    padding-bottom: 260px;
  }
}

//------------END ABOUT US PAGE-------------

//----------------INESTORS RELATION PAGE-------------
#section_page_investors_relation{
  background: url("../imgs/about_us_bg.jpg") no-repeat center;
  background-size: cover;
  height: auto!important;
  .fp-tableCell{
    height: auto!important;
  }
  h3{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin-top: 120px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  h2.text_intro {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0 0 0;
    font-style: italic;
    font-size: 28px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 24px;
    }
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  .triangle_white{
    display: table;
    z-index: 60;
    margin: 65px auto 120px auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent;
    @media (max-width: 991px) {
      margin-bottom: 70px;
    }
  }
}
#section_investors_relation_content{
  ul#relations_menu{
    border: none;
    margin: 50px -5px 120px 15px;
    @media (max-width: 991px) {
      margin: 50px 0 120px 5px;
    }
    li.active{
      background: #ccab81!important;
      a{
        color: #ffffff!important;
      }
    }
    li{
      padding: 0 !important;
      margin: -3px -3px 0 -1px;
      border: 3px solid #ccab81;
      -webkit-transition: all 1.2s;
      transition: all 1.2s;
      @media (max-width: 991px) {
        width: 33.33%;
        margin: -2px -3px 0 -1px;
      }
      @media (max-width: 635px) {
        width: 50%;
        margin: -2px -3px 0 -1px;
      }
      @media (max-width: 450px) {
        width: 100%;
        margin: -2px -3px 0 -1px;
      }
      &:hover{
        text-decoration: none;
        background: #ccab81!important;
        a{
          color: #ffffff!important;
        }
      }
      a{
        border-radius: 0;
        border: none;
        background: transparent;
        color: #ccab81;
        margin: 0!important;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 16px;
        display: table;
        width: 100%;
        -webkit-transition: all 1.2s;
        transition: all 1.2s;
        @media (max-width: 1200px) {
          font-size: 14px;
          padding: 5px 5px;
        }
        @media (max-width: 991px) {
          font-size: 14px;
        }

      }
    }
  }
  h3{
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px;
    font-style: normal;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  h2.title{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 45px;
  }
  div.content_text {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 0 0 45px 0;
    font-style: italic;
    font-size: 20px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
    }
    span{
      text-transform: uppercase;
      color: #ccab81
    }
  }
  table{
    width: 100%;
    margin-bottom: 60px;
    thead{
      tr{
        border: 2px solid #ccab81;
        td{
          padding: 10px;
          color: #ffffff;
          background: #ccab81;
          text-transform: uppercase;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 20px;
          @media (max-width: 1100px) {
            font-size: 18px;
          }
          @media (max-width: 991px) {
            font-size: 16px;
          }
        }
        td:first-child{
          text-align: left;
        }
        td:last-child{
          border-left: 2px solid #dcbe98;
        }
      }
    }
    tbody{
      tr{
        border: 2px solid #767676;
        td{
          text-align: left;
          padding: 10px;
          font-style: italic;
          border: 2px solid #767676;
          font-size: 20px;
          @media (max-width: 1100px) {
            font-size: 18px;
          }
          @media (max-width: 991px) {
            font-size: 16px;
          }
          a{
            color: grey;
            &:hover{
              color: grey;
              text-decoration: none;
            }
          }
        }
        td:last-child{
          text-align: center;
        }
      }
    }
  }
  @media (max-width: 580px) {
    .col-md-12,.container{
      padding: 0!important;
    }
  }
  button.more {
    font-size: 18px;
    color: #ccab81;
    text-transform: uppercase;
    border: 2px solid #ccab81;
    padding: 15px 20px;
    display: table;
    margin: 0 auto 110px auto;
    width: 100%;
    max-width: 250px;
    background: transparent;
    font-style: normal;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    @media (max-width: 991px) {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px;
      margin: 0 auto 60px auto;
    }
    &:hover{
      text-decoration: none;
      background: #ccab81;
      color: #ffffff;
    }
  }

}

//------------END INESTORS RELATION PAGE-------------

//------------NEWS PAGE-------------
#news_page{
  h3{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ffffff;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ffffff transparent transparent transparent;
    }
  }
  h2.title{
    font-size: 28px;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
    @media (max-width: 991px) {
      font-size: 20px;
    }
    @media (max-width: 687px) {
      width: 60%;
      display: table;
      margin: 50px auto 0 auto;
    }
  }
  div.article_date{
    padding: 40px 0 0 0;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    @media (max-width: 1100px) {
      padding: 20px 0 0 0;
    }
    @media (max-width: 991px) {
      padding: 20px 0 0 0;
    }
    @media (max-width: 687px) {
      padding: 20px 0;
    }
  }
  div.article_text {
    width: 80%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0;
    font-style: italic;
    font-size: 20px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      padding: 30px 0;
    }
    @media (max-width: 991px) {
      font-size: 20px;
      padding: 25px 0;
      width: 60%;
    }
    @media (max-width: 687px) {
      display: none;
    }
  }
  button.news_button {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    background: transparent;
    padding: 15px 20px;
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    @media (max-width: 991px) {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px;
    }
    &:hover{
      text-decoration: none;
      background: #ffffff;
      color: #ccab81;
    }
  }
  .triangle_white{
    display: table;
    z-index: 60;
    margin: 50px auto 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ffffff transparent transparent transparent;
    @media (max-width: 991px) {
      margin-bottom: 70px;
    }
  }
}
#news_content{
  height: auto!important;
  transition: all 1.2s;
  -webkit-transition: all 1.2s;
  .fp-tableCell{
    height: auto!important;
  }
  h3{
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin: 85px 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 17px;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      padding-top: 50px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  h2.title{
    font-size: 28px;
    font-style: italic;
    text-align: center;
    margin-bottom: 65px;
    @media (max-width: 991px) {
      font-size: 20px;
    }
    @media (max-width: 687px) {
      width: 60%;
      display: table;
      margin: 0 auto 65px auto;
    }
  }
  div.news_text{
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 0 0 45px 0;
    font-style: italic;
    font-size: 20px;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      text-align: center;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
  .news{
    height: 0!important;
    display: none;
  }
  .news_visible{
    height: auto!important;
    display: block!important;
  }
}
#another_news{
  height: auto!important;
  transition: all 1.2s;
  -webkit-transition: all 1.2s;
  .fp-tableCell{
    height: auto!important;
  }
  .another_news_visible{
    height: auto!important;
    display: block!important;
  }
  .fp-controlArrow.fp-prev {
    background: url("../imgs/arrow_left._gold.png") no-repeat center;
    background-size: cover;
  }
  .fp-controlArrow.fp-next {
    background: url("../imgs/arrow_right_gold.png") no-repeat center;
    background-size: cover;
  }
  .fp-controlArrow.fp-prev {
    top: 55%;
    @media (max-width: 1630px) {
      left: 50px;
    }
    @media (max-width: 1400px) {
      left: 0;
    }
    @media (max-width: 1200px) {
      left: 0;
      top: 60%;
    }
  }
  .fp-controlArrow.fp-next {
    top: 55%;
    @media (max-width: 1630px) {
      right: 50px;
    }
    @media (max-width: 1400px) {
      right: 0;

    }
    @media (max-width: 1200px) {
      right: 0;
      top: 60%;
    }
  }
  .another_news{
    h3{
      color: #ccab81;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      position: relative;
      padding-bottom: 35px;
      margin: 85px 0;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      @media (max-width: 1100px) {
        font-size: 17px;
        padding-top: 50px;
      }
      @media (max-width: 991px) {
        font-size: 16px;
        padding-top: 50px;
      }
      &:after{
        content: '';
        width: 170px;
        height: 5px;
        background: #ccab81;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
      }
      &:before{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        border-style: solid;
        border-width: 12px 12px 0 12px;
        border-color: #ccab81 transparent transparent transparent;
      }
    }
    ul{
      display: table;
      margin: 3px auto 110px auto;
      @media (max-width: 1400px) {
        margin: 3px 40px 110px 40px;
      }
      @media (max-width: 840px) {
        margin: 3px 40px 110px 40px;
      }
      li{
        padding: 0;
        button{
          font-style: italic;
          font-size: 18px;
          text-align: center;
          background: transparent;
          padding: 30px 20px;
          margin-right: -3px;
          border-left: 3px solid #ccab81;
          border-right: 3px solid #ccab81;
          border-top: none;
          border-bottom: none;
          @media (max-width: 1100px) {
            font-size: 17px;
          }
          @media (max-width: 991px) {
            font-size: 16px;
            border: 3px solid #ccab81;
            margin-top: -3px;
            min-width: 600px;
          }
          @media (max-width: 620px) {
            font-size: 16px;
            border: 3px solid #ccab81;
            margin-top: -3px;
            width: 100%;
            min-width: 0;
          }
        }
      }
    }
  }
}

//------------END NEWS PAGE-------------

//---------CONTACT PAGE----------
#contact-page{
  height: auto!important;
  padding-top: 50px;
  .fp-tableCell{
    height: auto!important;
  }
  h3{
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @media (max-width: 1400px) {
      padding-top: 20px;
      margin-top: 0px;
    }
    @media (max-width: 1100px) {
      font-size: 17px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
      margin-top: 110px;
    }
    &:after{
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent;
    }
  }
  form{
    padding-top: 85px;
    @media (max-width: 1400px) {
      padding-top: 25px;
    }
    input{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid #ccab81;
      background: transparent;
      margin-bottom: 35px;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      color: #696969;
      font-weight: 700;
    }
    input[type="submit"]
    {
      max-width: 240px;
      display: table;
      margin: 0 auto 70px auto;
      text-transform: uppercase;
      color: #ccab81;
      -webkit-transition: all 1.2s;
      transition: all 1.2s;
      &:hover{
        color: #ffffff;
        background: #ccab81;
      }
      @media (max-width: 1400px) {
        margin: 0 auto 15px auto;
      }
    }
    textarea{
      resize: none;
      padding: 10px;
      min-height: 215px;
      border: 3px solid #ccab81;
      width: 100%;
      margin-bottom: 35px;
      background: transparent;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      color: #696969;
      font-weight: 700;
    }
  }
  ul.contact_info{
    margin: 0 auto;
    li{
      display: inline-block;
      padding: 5px;
      color: #ccab81;
      font-size: 16px;
      font-style: italic;
      img{
        padding-right: 10px;
      }
    }
  }
  .contact_text{
    display: table;
    margin: 50px auto 50px auto;
    text-align: center;
    color: #696969;
    font-size: 16px;
    font-style: italic;
    width: 60%;
    @media (max-width: 1400px) {
      margin: 20px auto 20px auto;
      width: 90%;
    }
    @media (max-width: 991px) {
      margin: 25px auto 25px auto;
      width: 60%;
    }
  }
  footer{
    width: 100%;
    position: relative;
    bottom: 0;
    min-height: 50px;
    background: #ccab81;
    @media (max-width: 1366px) {
      position: relative;
    }
    p{
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-style: italic;
      padding-top: 15px;
      a{
        color: #ffffff;
        font-size: 16px;
        font-style: italic;
        &:hover{
          color: #ffffff;
          font-size: 16px;
          font-style: italic;
          text-decoration: none;
        }
      }
    }
  }

}
//---------END CONTACT PAGE

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #434343 ;
}