#fp-nav ul li .fp-tooltip {
  left: 20px; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: transparent;
  border: 2px solid #fff; }

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
  background-color: #fff; }

@media (max-width: 992px) {
  #fp-nav.left {
    left: 0 !important; } }

.fp-controlArrow.fp-prev {
  left: 150px;
  width: 40px;
  height: 60px;
  border: none !important;
  background: url("../imgs/arrow_left.png") no-repeat center;
  background-size: cover; }
  @media (max-width: 1400px) {
    .fp-controlArrow.fp-prev {
      left: 80px; } }
  @media (max-width: 991px) {
    .fp-controlArrow.fp-prev {
      left: 60px; } }
  @media (max-width: 600px) {
    .fp-controlArrow.fp-prev {
      left: 40px; } }

.fp-controlArrow.fp-next {
  right: 150px;
  width: 40px;
  height: 60px;
  border: none !important;
  background: url("../imgs/arrow_right.png") no-repeat center;
  background-size: cover; }
  @media (max-width: 1400px) {
    .fp-controlArrow.fp-next {
      right: 80px; } }
  @media (max-width: 991px) {
    .fp-controlArrow.fp-next {
      right: 60px; } }
  @media (max-width: 600px) {
    .fp-controlArrow.fp-next {
      right: 40px; } }

.fp-slidesNav.bottom {
  bottom: 60px; }
  @media (max-width: 1100px) {
    .fp-slidesNav.bottom {
      bottom: 30px; } }
  @media (max-width: 991px) {
    .fp-slidesNav.bottom {
      bottom: 20px; } }

body {
  font-family: Georgia, serif;
  font-weight: 400;
  overflow-x: hidden !important; }

.dnone {
  display: none; }

.white {
  color: #ffffff !important; }

.text_white {
  color: #ffffff; }

.text_gold {
  color: #ccab81; }

a, button {
  outline: none !important;
  -webkit-outline: none !important;
  -moz-outline: none !important; }

@media (max-width: 991px) {
  section, .fp-tableCell {
    height: auto !important; } }

#main {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%; }
  @media (max-width: 991px) {
    #main {
      position: relative; } }
  @media (max-width: 991px) {
    #main {
      position: relative;
      display: table; }
      #main .col-md-3, #main .col-md-1 {
        display: inline-block;
        padding: 0; }
      #main .col-md-3 {
        float: left; }
      #main .col-md-1 {
        float: right; } }
  #main .logo {
    position: fixed;
    z-index: 50;
    padding: 30px 0 0 45px; }
    #main .logo a {
      position: absolute; }
    #main .logo img {
      max-width: 170px;
      transition: all 0.01s;
      -webkit-transition: all 0.01s; }
    @media (max-width: 991px) {
      #main .logo {
        position: relative;
        padding: 15px 0 15px 10px; }
        #main .logo a {
          position: relative; } }
    @media (max-width: 687px) {
      #main .logo {
        padding: 15px 0 15px 0; }
        #main .logo img {
          max-width: 150px; } }
  #main .menu {
    width: 280px;
    height: 100vh;
    position: fixed;
    right: -500px;
    background: #ccab81;
    z-index: 999;
    transition: all 1.2s;
    -webkit-transition: all 1.2s; }
    @media (max-width: 991px) {
      #main .menu {
        height: auto;
        position: absolute; } }
    #main .menu .content_menu {
      position: relative;
      width: 100%;
      height: 100%; }
      @media (max-width: 991px) {
        #main .menu .content_menu {
          display: table;
          height: auto; } }
      #main .menu .content_menu ul.menu_items {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 120px;
        padding-top: 20px;
        font-size: 18px; }
        @media (max-width: 991px) {
          #main .menu .content_menu ul.menu_items {
            position: relative;
            margin: 60px auto 0 auto;
            top: 0;
            padding-top: 10px;
            font-size: 15px;
            display: table; } }
        #main .menu .content_menu ul.menu_items:before {
          content: '';
          width: 125px;
          height: 2px;
          position: absolute;
          background: #ffffff;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%); }
        #main .menu .content_menu ul.menu_items:after {
          content: '';
          width: 0;
          height: 0;
          top: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          border-style: solid;
          border-width: 12px 12px 0 12px;
          border-color: #ffffff transparent transparent transparent; }
        #main .menu .content_menu ul.menu_items li {
          display: table;
          margin: 0 auto;
          padding: 12px 0; }
          #main .menu .content_menu ul.menu_items li a {
            color: #ffffff; }
      #main .menu .content_menu ul.social_items {
        display: table;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%); }
        @media (max-width: 991px) {
          #main .menu .content_menu ul.social_items {
            display: table;
            margin: 30px auto 20px auto;
            position: relative;
            top: 30px;
            bottom: 0;
            left: 0;
            transform: none;
            -webkit-transform: none; } }
        #main .menu .content_menu ul.social_items:before {
          content: '';
          width: 125px;
          height: 1px;
          background: #ffffff;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%); }
        #main .menu .content_menu ul.social_items li {
          display: inline-block;
          text-align: center;
          padding: 20px 5px 30px 5px; }
@-moz-document url-prefix() {
  #main .menu .content_menu ul.social_items li {
    padding: 20px 3px 30px 3px; } }
  #main .overlay-menu {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5) !important;
    transition: all 1.2s !important;
    -webkit-transition: all 1.2s !important;
    visibility: hidden; }
  #main .show_overlay {
    opacity: 1;
    visibility: visible; }
  #main .show_block {
    display: block !important;
    right: 0; }
  #main button.exit {
    background: none;
    box-shadow: none;
    border: none;
    display: table;
    position: absolute;
    top: 30px;
    right: 30px; }
    @media (max-width: 991px) {
      #main button.exit {
        top: 10px;
        right: 10px; } }
  #main button.show_menu {
    position: fixed;
    z-index: 990;
    background: none;
    box-shadow: none;
    border: none;
    right: 30px;
    top: 30px;
    color: #ccab81;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.01s;
    -webkit-transition: all 0.01s; }
    #main button.show_menu img {
      padding-left: 20px;
      transition: all 0.01s;
      -webkit-transition: all 0.01s; }
    @media (max-width: 991px) {
      #main button.show_menu {
        position: relative;
        display: table;
        right: 5px; } }
    @media (max-width: 687px) {
      #main button.show_menu {
        top: 25px;
        right: 0;
        font-size: 16px; } }

#section_columbus {
  background: url("../imgs/columbus_background.jpg") no-repeat center;
  background-size: cover; }
  #section_columbus h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 1100px) {
      #section_columbus h3 {
        font-size: 17px;
        padding-top: 50px; } }
    @media (max-width: 991px) {
      #section_columbus h3 {
        font-size: 16px;
        padding-top: 50px; } }
    #section_columbus h3:after {
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    #section_columbus h3:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent; }
  #section_columbus h2.text_intro {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0;
    font-style: italic;
    font-size: 28px; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      #section_columbus h2.text_intro {
        text-align: center; } }
    @media (max-width: 1100px) {
      #section_columbus h2.text_intro {
        font-size: 24px; } }
    @media (max-width: 991px) {
      #section_columbus h2.text_intro {
        font-size: 20px; } }
  #section_columbus a.more {
    font-size: 18px;
    color: #ccab81;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid #ccab81;
    padding: 15px 20px;
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    -webkit-transition: all 1.2s;
    transition: all 1.2s; }
    @media (max-width: 1100px) {
      #section_columbus a.more {
        padding: 10px 15px;
        max-width: 230px;
        font-size: 17px; } }
    @media (max-width: 991px) {
      #section_columbus a.more {
        padding: 10px 15px;
        max-width: 220px;
        font-size: 16px; } }
    #section_columbus a.more:hover {
      text-decoration: none;
      background: #ccab81;
      color: #ffffff; }
  #section_columbus .triangle_white {
    display: table;
    z-index: 60;
    margin: 50px auto 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent; }
    @media (max-width: 991px) {
      #section_columbus .triangle_white {
        margin-bottom: 70px; } }

#section_about_us .content_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%; }
  @media (max-width: 991px) {
    #section_about_us .content_text {
      position: relative;
      transform: none !important;
      -webkit-transform: none !important;
      top: 0;
      left: 0; } }
#section_about_us .col-md-6 {
  padding: 0;
  position: relative;
  height: 100%; }
#section_about_us .about_us_img {
  background: url("../imgs/about_us_img.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  @media (max-width: 991px) {
    #section_about_us .about_us_img {
      display: none; } }
#section_about_us h3 {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }
  @media (max-width: 1100px) {
    #section_about_us h3 {
      font-size: 17px;
      padding-top: 50px; } }
  @media (max-width: 991px) {
    #section_about_us h3 {
      font-size: 16px;
      padding-top: 50px; } }
  #section_about_us h3:after {
    content: '';
    width: 170px;
    height: 5px;
    background: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
  #section_about_us h3:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ffffff transparent transparent transparent; }
#section_about_us h2.text_intro {
  width: 80%;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  display: table;
  margin: 0 auto;
  padding: 50px 0;
  font-style: italic;
  font-size: 28px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    #section_about_us h2.text_intro {
      text-align: center; } }
  @media (max-width: 1100px) {
    #section_about_us h2.text_intro {
      font-size: 24px; } }
  @media (max-width: 991px) {
    #section_about_us h2.text_intro {
      font-size: 20px; } }
#section_about_us a.more {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 15px 20px;
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  -webkit-transition: all 1.2s;
  transition: all 1.2s; }
  @media (max-width: 991px) {
    #section_about_us a.more {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px; } }
  #section_about_us a.more:hover {
    text-decoration: none;
    background: #ffffff;
    color: #ccab81; }
#section_about_us .triangle_white {
  display: table;
  z-index: 60;
  margin: 50px auto 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #ffffff transparent transparent transparent; }
  @media (max-width: 991px) {
    #section_about_us .triangle_white {
      margin-bottom: 70px; } }

#investors_relation .content_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%; }
  @media (max-width: 991px) {
    #investors_relation .content_text {
      position: relative;
      transform: none !important;
      -webkit-transform: none !important;
      top: 0;
      left: 0; } }
#investors_relation .col-md-6 {
  padding: 0;
  position: relative;
  height: 100%; }
#investors_relation .investors_relation_img {
  background: url("../imgs/investors_relation_img.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  @media (max-width: 991px) {
    #investors_relation .investors_relation_img {
      display: none; } }
#investors_relation h3 {
  color: #ccab81;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }
  @media (max-width: 1100px) {
    #investors_relation h3 {
      font-size: 17px;
      padding-top: 50px; } }
  @media (max-width: 991px) {
    #investors_relation h3 {
      font-size: 16px;
      padding-top: 50px; } }
  #investors_relation h3:after {
    content: '';
    width: 170px;
    height: 5px;
    background: #ccab81;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
  #investors_relation h3:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent; }
#investors_relation h2.text_intro {
  width: 80%;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  display: table;
  margin: 0 auto;
  padding: 50px 0;
  font-style: italic;
  font-size: 28px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    #investors_relation h2.text_intro {
      text-align: center; } }
  @media (max-width: 1100px) {
    #investors_relation h2.text_intro {
      font-size: 24px; } }
  @media (max-width: 991px) {
    #investors_relation h2.text_intro {
      font-size: 20px; } }
#investors_relation a.more {
  font-size: 18px;
  color: #ccab81;
  text-transform: uppercase;
  border: 2px solid #ccab81;
  padding: 15px 20px;
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  -webkit-transition: all 1.2s;
  transition: all 1.2s; }
  @media (max-width: 991px) {
    #investors_relation a.more {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px; } }
  #investors_relation a.more:hover {
    text-decoration: none;
    background: #ccab81;
    color: #ffffff; }
#investors_relation .triangle_white {
  display: table;
  z-index: 60;
  margin: 50px auto 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #ccab81 transparent transparent transparent; }
  @media (max-width: 991px) {
    #investors_relation .triangle_white {
      margin-bottom: 70px; } }

#news h3 {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  position: absolute;
  display: table;
  margin: 0 auto;
  left: 50%;
  -webkit-transition: translateX(-50%);
  top: 70px;
  transform: translateX(-50%); }
  @media (max-width: 1400px) {
    #news h3 {
      top: 50px; } }
  @media (max-width: 1100px) {
    #news h3 {
      font-size: 17px;
      padding-top: 50px; } }
  @media (max-width: 991px) {
    #news h3 {
      font-size: 16px;
      padding-top: 50px;
      position: relative;
      left: 0;
      top: 0;
      transform: none;
      -webkit-transform: none; } }
  #news h3:after {
    content: '';
    width: 170px;
    height: 5px;
    background: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
  #news h3:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ffffff transparent transparent transparent; }
#news h2.title {
  font-size: 28px;
  font-style: italic;
  text-align: center;
  margin-top: 50px; }
  @media (max-width: 991px) {
    #news h2.title {
      font-size: 20px; } }
  @media (max-width: 687px) {
    #news h2.title {
      width: 60%;
      display: table;
      margin: 50px auto 0 auto; } }
#news i.article_date {
  padding: 40px 0 0 0;
  font-size: 16px;
  font-style: italic;
  display: table;
  margin: 0 auto; }
  @media (max-width: 1100px) {
    #news i.article_date {
      padding: 20px 0 0 0; } }
  @media (max-width: 991px) {
    #news i.article_date {
      padding: 20px 0 0 0; } }
  @media (max-width: 687px) {
    #news i.article_date {
      padding: 20px 0; } }
#news span.article_text {
  width: 80%;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  display: table;
  margin: 0 auto;
  padding: 50px 0;
  font-style: italic;
  font-size: 20px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    #news span.article_text {
      text-align: center; } }
  @media (max-width: 1100px) {
    #news span.article_text {
      padding: 30px 0; } }
  @media (max-width: 991px) {
    #news span.article_text {
      font-size: 20px;
      padding: 25px 0;
      width: 60%; } }
  @media (max-width: 687px) {
    #news span.article_text {
      display: none; } }
#news a.more {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 15px 20px;
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  -webkit-transition: all 1.2s;
  transition: all 1.2s; }
  @media (max-width: 991px) {
    #news a.more {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px; } }
  #news a.more:hover {
    text-decoration: none;
    background: #ffffff;
    color: #ccab81; }
#news .triangle_white {
  display: table;
  z-index: 60;
  margin: 50px auto 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #ffffff transparent transparent transparent; }
  @media (max-width: 991px) {
    #news .triangle_white {
      margin-bottom: 70px; } }

@media (max-width: 991px) {
  #google_map {
    height: 60vh !important; } }
#google_map #map {
  height: 100%;
  margin: 0;
  padding: 0; }
  @media (max-width: 991px) {
    #google_map #map {
      height: 60vh !important; } }
#google_map .info_map {
  position: absolute;
  max-width: 430px;
  width: 100%;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin: 0 auto;
  background: #ccab81;
  padding: 30px 0; }
  @media (max-width: 1100px) {
    #google_map .info_map {
      bottom: 40px;
      max-width: 330px; } }
  @media (max-width: 991px) {
    #google_map .info_map {
      bottom: 5px;
      max-width: 200px;
      padding: 10px 0; } }
  #google_map .info_map h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 1100px) {
      #google_map .info_map h3 {
        font-size: 17px; } }
    @media (max-width: 991px) {
      #google_map .info_map h3 {
        font-size: 15px;
        padding-bottom: 25px; } }
    #google_map .info_map h3:after {
      content: '';
      width: 170px;
      height: 5px;
      background: #ffffff;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    #google_map .info_map h3:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ffffff transparent transparent transparent; }
  #google_map .info_map .map_adress {
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    padding-top: 30px; }
    @media (max-width: 991px) {
      #google_map .info_map .map_adress {
        font-size: 16px;
        padding-top: 20px; } }

#contact h3 {
  color: #ccab81;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-bottom: 35px;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }
  @media (max-width: 1400px) {
    #contact h3 {
      padding-top: 20px;
      margin-top: 0px; } }
  @media (max-width: 1100px) {
    #contact h3 {
      font-size: 17px; } }
  @media (max-width: 991px) {
    #contact h3 {
      font-size: 16px;
      margin-top: 110px; } }
  #contact h3:after {
    content: '';
    width: 170px;
    height: 5px;
    background: #ccab81;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
  #contact h3:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent; }
#contact form {
  padding-top: 85px; }
  @media (max-width: 1400px) {
    #contact form {
      padding-top: 25px; } }
  #contact form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #ccab81;
    background: transparent;
    margin-bottom: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #696969;
    font-weight: 700; }
  #contact form input[type="submit"] {
    max-width: 240px;
    display: table;
    margin: 0 auto 70px auto;
    text-transform: uppercase;
    color: #ccab81;
    -webkit-transition: all 1.2s;
    transition: all 1.2s; }
    #contact form input[type="submit"]:hover {
      color: #ffffff;
      background: #ccab81; }
    @media (max-width: 1400px) {
      #contact form input[type="submit"] {
        margin: 0 auto 15px auto; } }
  #contact form textarea {
    resize: none;
    padding: 10px;
    min-height: 215px;
    border: 3px solid #ccab81;
    width: 100%;
    margin-bottom: 35px;
    background: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #696969;
    font-weight: 700; }
#contact ul.contact_info {
  margin: 0 auto; }
  #contact ul.contact_info li {
    display: inline-block;
    padding: 5px;
    color: #ccab81;
    font-size: 16px;
    font-style: italic; }
    #contact ul.contact_info li img {
      padding-right: 10px; }
#contact .contact_text {
  display: table;
  margin: 50px auto 50px auto;
  text-align: center;
  color: #696969;
  font-size: 16px;
  font-style: italic;
  width: 60%; }
  @media (max-width: 1400px) {
    #contact .contact_text {
      margin: 20px auto 20px auto;
      width: 90%; } }
  @media (max-width: 991px) {
    #contact .contact_text {
      margin: 25px auto 25px auto;
      width: 60%; } }
#contact footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  min-height: 50px;
  background: #ccab81; }
  @media (max-width: 1366px) {
    #contact footer {
      position: relative; } }
  #contact footer p {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-style: italic;
    padding-top: 15px; }
    #contact footer p a {
      color: #ffffff;
      font-size: 16px;
      font-style: italic; }
      #contact footer p a:hover {
        color: #ffffff;
        font-size: 16px;
        font-style: italic;
        text-decoration: none; }

@media (max-width: 1630px) and (min-width: 992px) {
  .page {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 1.2s;
    transition: all 1.2s; }
    .page .logo {
      padding: 25px 0 0 10px !important; }

  .page_active {
    height: 100px;
    background: rgba(0, 0, 0, 0.7); } }
#section_page_offer {
  background: url("../imgs/page_offer.jpg") no-repeat center;
  background-size: cover;
  height: auto !important; }
  #section_page_offer .fp-tableCell {
    height: auto !important; }
  #section_page_offer h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin-top: 120px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 1100px) {
      #section_page_offer h3 {
        font-size: 17px;
        padding-top: 50px; } }
    @media (max-width: 991px) {
      #section_page_offer h3 {
        font-size: 16px;
        padding-top: 50px; } }
    #section_page_offer h3:after {
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    #section_page_offer h3:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent; }
  #section_page_offer h2.text_intro {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0 0 0;
    font-style: italic;
    font-size: 28px; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      #section_page_offer h2.text_intro {
        text-align: center; } }
    @media (max-width: 1100px) {
      #section_page_offer h2.text_intro {
        font-size: 24px; } }
    @media (max-width: 991px) {
      #section_page_offer h2.text_intro {
        font-size: 20px; } }
  #section_page_offer .triangle_white {
    display: table;
    z-index: 60;
    margin: 65px auto 120px auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent; }
    @media (max-width: 991px) {
      #section_page_offer .triangle_white {
        margin-bottom: 70px; } }

#offer .content_offer {
  margin: 110px 0; }
#offer h3 {
  color: #ccab81;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }
  @media (max-width: 1100px) {
    #offer h3 {
      font-size: 17px;
      padding-top: 50px; } }
  @media (max-width: 991px) {
    #offer h3 {
      font-size: 16px;
      padding-top: 50px; } }
  #offer h3:after {
    content: '';
    width: 170px;
    height: 5px;
    background: #ccab81;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
  #offer h3:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent; }
#offer h2.text_intro {
  width: 60%;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  display: table;
  margin: 0 auto;
  padding: 40px 0;
  font-style: italic;
  font-size: 20px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    #offer h2.text_intro {
      text-align: center; } }
  @media (max-width: 1100px) {
    #offer h2.text_intro {
      font-size: 18px; } }
  @media (max-width: 991px) {
    #offer h2.text_intro {
      font-size: 16px; } }
#offer div.more_padding {
  padding: 50px 0 40px 0; }
#offer div.text_content {
  width: 100%;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  display: table;
  margin: 0 auto;
  padding: 20px 0;
  font-style: italic;
  font-size: 20px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    #offer div.text_content {
      text-align: center; } }
  @media (max-width: 1100px) {
    #offer div.text_content {
      font-size: 18px; } }
  @media (max-width: 991px) {
    #offer div.text_content {
      font-size: 16px; } }

#section_page_about_us {
  background: url("../imgs/about_us_bg.jpg") no-repeat center;
  background-size: cover;
  height: auto !important; }
  #section_page_about_us .fp-tableCell {
    height: auto !important; }
  #section_page_about_us h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin-top: 120px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 1100px) {
      #section_page_about_us h3 {
        font-size: 17px;
        padding-top: 50px; } }
    @media (max-width: 991px) {
      #section_page_about_us h3 {
        font-size: 16px;
        padding-top: 50px; } }
    #section_page_about_us h3:after {
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    #section_page_about_us h3:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent; }
  #section_page_about_us h2.text_intro {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0 0 0;
    font-style: italic;
    font-size: 28px; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      #section_page_about_us h2.text_intro {
        text-align: center; } }
    @media (max-width: 1100px) {
      #section_page_about_us h2.text_intro {
        font-size: 24px; } }
    @media (max-width: 991px) {
      #section_page_about_us h2.text_intro {
        font-size: 20px; } }
  #section_page_about_us .triangle_white {
    display: table;
    z-index: 60;
    margin: 65px auto 120px auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent; }
    @media (max-width: 991px) {
      #section_page_about_us .triangle_white {
        margin-bottom: 70px; } }

#section_about_us_content ul#myTabs {
  border: none;
  margin: 50px -5px 120px 15px; }
  @media (max-width: 991px) {
    #section_about_us_content ul#myTabs {
      margin: 50px 0 120px 5px; } }
  #section_about_us_content ul#myTabs li.active {
    background: #ccab81 !important; }
    #section_about_us_content ul#myTabs li.active a {
      color: #ffffff !important; }
  #section_about_us_content ul#myTabs li {
    padding: 0 !important;
    margin: 0px -3px 0 -1px;
    border: 3px solid #ccab81;
    -webkit-transition: all 1.2s;
    transition: all 1.2s; }
    @media (max-width: 991px) {
      #section_about_us_content ul#myTabs li {
        width: 33.33%;
        margin: -2px -3px 0 -1px; } }
    @media (max-width: 580px) {
      #section_about_us_content ul#myTabs li {
        width: 50%;
        margin: -2px -3px 0 -1px; } }
    @media (max-width: 380px) {
      #section_about_us_content ul#myTabs li {
        width: 100%;
        margin: -2px -3px 0 -1px; } }
    #section_about_us_content ul#myTabs li:hover {
      text-decoration: none;
      background: #ccab81 !important; }
      #section_about_us_content ul#myTabs li:hover a {
        color: #ffffff !important; }
    #section_about_us_content ul#myTabs li a {
      border-radius: 0;
      border: none;
      background: transparent;
      color: #ccab81;
      margin: 0 !important;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 16px;
      display: table;
      width: 100%;
      -webkit-transition: all 1.2s;
      transition: all 1.2s; }
      @media (max-width: 1200px) {
        #section_about_us_content ul#myTabs li a {
          font-size: 14px;
          padding: 5px 5px; } }
      @media (max-width: 991px) {
        #section_about_us_content ul#myTabs li a {
          font-size: 14px; } }
#section_about_us_content #myTabContent {
  padding-bottom: 200px; }
#section_about_us_content h3 {
  color: #ccab81;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px; }
  @media (max-width: 1100px) {
    #section_about_us_content h3 {
      font-size: 17px;
      padding-top: 50px; } }
  @media (max-width: 991px) {
    #section_about_us_content h3 {
      font-size: 16px;
      padding-top: 50px; } }
  #section_about_us_content h3:after {
    content: '';
    width: 170px;
    height: 5px;
    background: #ccab81;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
  #section_about_us_content h3:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent; }
#section_about_us_content div.content_text {
  width: 100%;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  display: table;
  margin: 0 auto;
  padding: 0 0 45px 0;
  font-style: italic;
  font-size: 20px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    #section_about_us_content div.content_text {
      text-align: center; } }
  @media (max-width: 1100px) {
    #section_about_us_content div.content_text {
      font-size: 18px; } }
  @media (max-width: 991px) {
    #section_about_us_content div.content_text {
      font-size: 16px; } }
  #section_about_us_content div.content_text span {
    text-transform: uppercase;
    color: #ccab81; }
#section_about_us_content .more_padding {
  padding-bottom: 260px; }

#section_page_investors_relation {
  background: url("../imgs/about_us_bg.jpg") no-repeat center;
  background-size: cover;
  height: auto !important; }
  #section_page_investors_relation .fp-tableCell {
    height: auto !important; }
  #section_page_investors_relation h3 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin-top: 120px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 1100px) {
      #section_page_investors_relation h3 {
        font-size: 17px;
        padding-top: 50px; } }
    @media (max-width: 991px) {
      #section_page_investors_relation h3 {
        font-size: 16px;
        padding-top: 50px; } }
    #section_page_investors_relation h3:after {
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    #section_page_investors_relation h3:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent; }
  #section_page_investors_relation h2.text_intro {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 50px 0 0 0;
    font-style: italic;
    font-size: 28px; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      #section_page_investors_relation h2.text_intro {
        text-align: center; } }
    @media (max-width: 1100px) {
      #section_page_investors_relation h2.text_intro {
        font-size: 24px; } }
    @media (max-width: 991px) {
      #section_page_investors_relation h2.text_intro {
        font-size: 20px; } }
  #section_page_investors_relation .triangle_white {
    display: table;
    z-index: 60;
    margin: 65px auto 120px auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent; }
    @media (max-width: 991px) {
      #section_page_investors_relation .triangle_white {
        margin-bottom: 70px; } }

#section_investors_relation_content ul#relations_menu {
  border: none;
  margin: 50px -5px 120px 15px; }
  @media (max-width: 991px) {
    #section_investors_relation_content ul#relations_menu {
      margin: 50px 0 120px 5px; } }
  #section_investors_relation_content ul#relations_menu li.active {
    background: #ccab81 !important; }
    #section_investors_relation_content ul#relations_menu li.active a {
      color: #ffffff !important; }
  #section_investors_relation_content ul#relations_menu li {
    padding: 0 !important;
    margin: -3px -3px 0 -1px;
    border: 3px solid #ccab81;
    -webkit-transition: all 1.2s;
    transition: all 1.2s; }
    @media (max-width: 991px) {
      #section_investors_relation_content ul#relations_menu li {
        width: 33.33%;
        margin: -2px -3px 0 -1px; } }
    @media (max-width: 635px) {
      #section_investors_relation_content ul#relations_menu li {
        width: 50%;
        margin: -2px -3px 0 -1px; } }
    @media (max-width: 450px) {
      #section_investors_relation_content ul#relations_menu li {
        width: 100%;
        margin: -2px -3px 0 -1px; } }
    #section_investors_relation_content ul#relations_menu li:hover {
      text-decoration: none;
      background: #ccab81 !important; }
      #section_investors_relation_content ul#relations_menu li:hover a {
        color: #ffffff !important; }
    #section_investors_relation_content ul#relations_menu li a {
      border-radius: 0;
      border: none;
      background: transparent;
      color: #ccab81;
      margin: 0 !important;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 16px;
      display: table;
      width: 100%;
      -webkit-transition: all 1.2s;
      transition: all 1.2s; }
      @media (max-width: 1200px) {
        #section_investors_relation_content ul#relations_menu li a {
          font-size: 14px;
          padding: 5px 5px; } }
      @media (max-width: 991px) {
        #section_investors_relation_content ul#relations_menu li a {
          font-size: 14px; } }
#section_investors_relation_content h3 {
  color: #ccab81;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px;
  font-style: normal; }
  @media (max-width: 1100px) {
    #section_investors_relation_content h3 {
      font-size: 17px;
      padding-top: 50px; } }
  @media (max-width: 991px) {
    #section_investors_relation_content h3 {
      font-size: 16px;
      padding-top: 50px; } }
  #section_investors_relation_content h3:after {
    content: '';
    width: 170px;
    height: 5px;
    background: #ccab81;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
  #section_investors_relation_content h3:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ccab81 transparent transparent transparent; }
#section_investors_relation_content h2.title {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 45px; }
#section_investors_relation_content div.content_text {
  width: 100%;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  display: table;
  margin: 0 auto;
  padding: 0 0 45px 0;
  font-style: italic;
  font-size: 20px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    #section_investors_relation_content div.content_text {
      text-align: center; } }
  @media (max-width: 1100px) {
    #section_investors_relation_content div.content_text {
      font-size: 18px; } }
  @media (max-width: 991px) {
    #section_investors_relation_content div.content_text {
      font-size: 16px; } }
  #section_investors_relation_content div.content_text span {
    text-transform: uppercase;
    color: #ccab81; }
#section_investors_relation_content table {
  width: 100%;
  margin-bottom: 60px; }
  #section_investors_relation_content table thead tr {
    border: 2px solid #ccab81; }
    #section_investors_relation_content table thead tr td {
      padding: 10px;
      color: #ffffff;
      background: #ccab81;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 20px; }
      @media (max-width: 1100px) {
        #section_investors_relation_content table thead tr td {
          font-size: 18px; } }
      @media (max-width: 991px) {
        #section_investors_relation_content table thead tr td {
          font-size: 16px; } }
    #section_investors_relation_content table thead tr td:first-child {
      text-align: left; }
    #section_investors_relation_content table thead tr td:last-child {
      border-left: 2px solid #dcbe98; }
  #section_investors_relation_content table tbody tr {
    border: 2px solid #767676; }
    #section_investors_relation_content table tbody tr td {
      text-align: left;
      padding: 10px;
      font-style: italic;
      border: 2px solid #767676;
      font-size: 20px; }
      @media (max-width: 1100px) {
        #section_investors_relation_content table tbody tr td {
          font-size: 18px; } }
      @media (max-width: 991px) {
        #section_investors_relation_content table tbody tr td {
          font-size: 16px; } }
      #section_investors_relation_content table tbody tr td a {
        color: grey; }
        #section_investors_relation_content table tbody tr td a:hover {
          color: grey;
          text-decoration: none; }
    #section_investors_relation_content table tbody tr td:last-child {
      text-align: center; }
@media (max-width: 580px) {
  #section_investors_relation_content .col-md-12, #section_investors_relation_content .container {
    padding: 0 !important; } }
#section_investors_relation_content button.more {
  font-size: 18px;
  color: #ccab81;
  text-transform: uppercase;
  border: 2px solid #ccab81;
  padding: 15px 20px;
  display: table;
  margin: 0 auto 110px auto;
  width: 100%;
  max-width: 250px;
  background: transparent;
  font-style: normal;
  -webkit-transition: all 1.2s;
  transition: all 1.2s; }
  @media (max-width: 991px) {
    #section_investors_relation_content button.more {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px;
      margin: 0 auto 60px auto; } }
  #section_investors_relation_content button.more:hover {
    text-decoration: none;
    background: #ccab81;
    color: #ffffff; }

#news_page h3 {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }
  @media (max-width: 1100px) {
    #news_page h3 {
      font-size: 17px;
      padding-top: 50px; } }
  @media (max-width: 991px) {
    #news_page h3 {
      font-size: 16px;
      padding-top: 50px; } }
  #news_page h3:after {
    content: '';
    width: 170px;
    height: 5px;
    background: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
  #news_page h3:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ffffff transparent transparent transparent; }
#news_page h2.title {
  font-size: 28px;
  font-style: italic;
  text-align: center;
  margin-top: 50px; }
  @media (max-width: 991px) {
    #news_page h2.title {
      font-size: 20px; } }
  @media (max-width: 687px) {
    #news_page h2.title {
      width: 60%;
      display: table;
      margin: 50px auto 0 auto; } }
#news_page div.article_date {
  padding: 40px 0 0 0;
  font-size: 16px;
  font-style: italic;
  text-align: center; }
  @media (max-width: 1100px) {
    #news_page div.article_date {
      padding: 20px 0 0 0; } }
  @media (max-width: 991px) {
    #news_page div.article_date {
      padding: 20px 0 0 0; } }
  @media (max-width: 687px) {
    #news_page div.article_date {
      padding: 20px 0; } }
#news_page div.article_text {
  width: 80%;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  display: table;
  margin: 0 auto;
  padding: 50px 0;
  font-style: italic;
  font-size: 20px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    #news_page div.article_text {
      text-align: center; } }
  @media (max-width: 1100px) {
    #news_page div.article_text {
      padding: 30px 0; } }
  @media (max-width: 991px) {
    #news_page div.article_text {
      font-size: 20px;
      padding: 25px 0;
      width: 60%; } }
  @media (max-width: 687px) {
    #news_page div.article_text {
      display: none; } }
#news_page button.news_button {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background: transparent;
  padding: 15px 20px;
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  -webkit-transition: all 1.2s;
  transition: all 1.2s; }
  @media (max-width: 991px) {
    #news_page button.news_button {
      padding: 10px 15px;
      max-width: 220px;
      font-size: 16px; } }
  #news_page button.news_button:hover {
    text-decoration: none;
    background: #ffffff;
    color: #ccab81; }
#news_page .triangle_white {
  display: table;
  z-index: 60;
  margin: 50px auto 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #ffffff transparent transparent transparent; }
  @media (max-width: 991px) {
    #news_page .triangle_white {
      margin-bottom: 70px; } }

#news_content {
  height: auto !important;
  transition: all 1.2s;
  -webkit-transition: all 1.2s; }
  #news_content .fp-tableCell {
    height: auto !important; }
  #news_content h3 {
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin: 85px 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 1100px) {
      #news_content h3 {
        font-size: 17px;
        padding-top: 50px; } }
    @media (max-width: 991px) {
      #news_content h3 {
        font-size: 16px;
        padding-top: 50px; } }
    #news_content h3:after {
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    #news_content h3:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent; }
  #news_content h2.title {
    font-size: 28px;
    font-style: italic;
    text-align: center;
    margin-bottom: 65px; }
    @media (max-width: 991px) {
      #news_content h2.title {
        font-size: 20px; } }
    @media (max-width: 687px) {
      #news_content h2.title {
        width: 60%;
        display: table;
        margin: 0 auto 65px auto; } }
  #news_content div.news_text {
    width: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    display: table;
    margin: 0 auto;
    padding: 0 0 45px 0;
    font-style: italic;
    font-size: 20px; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      #news_content div.news_text {
        text-align: center; } }
    @media (max-width: 1100px) {
      #news_content div.news_text {
        font-size: 18px; } }
    @media (max-width: 991px) {
      #news_content div.news_text {
        font-size: 16px; } }
  #news_content .news {
    height: 0 !important;
    display: none; }
  #news_content .news_visible {
    height: auto !important;
    display: block !important; }

#another_news {
  height: auto !important;
  transition: all 1.2s;
  -webkit-transition: all 1.2s; }
  #another_news .fp-tableCell {
    height: auto !important; }
  #another_news .another_news_visible {
    height: auto !important;
    display: block !important; }
  #another_news .fp-controlArrow.fp-prev {
    background: url("../imgs/arrow_left._gold.png") no-repeat center;
    background-size: cover; }
  #another_news .fp-controlArrow.fp-next {
    background: url("../imgs/arrow_right_gold.png") no-repeat center;
    background-size: cover; }
  #another_news .fp-controlArrow.fp-prev {
    top: 55%; }
    @media (max-width: 1630px) {
      #another_news .fp-controlArrow.fp-prev {
        left: 50px; } }
    @media (max-width: 1400px) {
      #another_news .fp-controlArrow.fp-prev {
        left: 0; } }
    @media (max-width: 1200px) {
      #another_news .fp-controlArrow.fp-prev {
        left: 0;
        top: 60%; } }
  #another_news .fp-controlArrow.fp-next {
    top: 55%; }
    @media (max-width: 1630px) {
      #another_news .fp-controlArrow.fp-next {
        right: 50px; } }
    @media (max-width: 1400px) {
      #another_news .fp-controlArrow.fp-next {
        right: 0; } }
    @media (max-width: 1200px) {
      #another_news .fp-controlArrow.fp-next {
        right: 0;
        top: 60%; } }
  #another_news .another_news h3 {
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin: 85px 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 1100px) {
      #another_news .another_news h3 {
        font-size: 17px;
        padding-top: 50px; } }
    @media (max-width: 991px) {
      #another_news .another_news h3 {
        font-size: 16px;
        padding-top: 50px; } }
    #another_news .another_news h3:after {
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    #another_news .another_news h3:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent; }
  #another_news .another_news ul {
    display: table;
    margin: 3px auto 110px auto; }
    @media (max-width: 1400px) {
      #another_news .another_news ul {
        margin: 3px 40px 110px 40px; } }
    @media (max-width: 840px) {
      #another_news .another_news ul {
        margin: 3px 40px 110px 40px; } }
    #another_news .another_news ul li {
      padding: 0; }
      #another_news .another_news ul li button {
        font-style: italic;
        font-size: 18px;
        text-align: center;
        background: transparent;
        padding: 30px 20px;
        margin-right: -3px;
        border-left: 3px solid #ccab81;
        border-right: 3px solid #ccab81;
        border-top: none;
        border-bottom: none; }
        @media (max-width: 1100px) {
          #another_news .another_news ul li button {
            font-size: 17px; } }
        @media (max-width: 991px) {
          #another_news .another_news ul li button {
            font-size: 16px;
            border: 3px solid #ccab81;
            margin-top: -3px;
            min-width: 600px; } }
        @media (max-width: 620px) {
          #another_news .another_news ul li button {
            font-size: 16px;
            border: 3px solid #ccab81;
            margin-top: -3px;
            width: 100%;
            min-width: 0; } }

#contact-page {
  height: auto !important;
  padding-top: 50px; }
  #contact-page .fp-tableCell {
    height: auto !important; }
  #contact-page h3 {
    color: #ccab81;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 35px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 1400px) {
      #contact-page h3 {
        padding-top: 20px;
        margin-top: 0px; } }
    @media (max-width: 1100px) {
      #contact-page h3 {
        font-size: 17px; } }
    @media (max-width: 991px) {
      #contact-page h3 {
        font-size: 16px;
        margin-top: 110px; } }
    #contact-page h3:after {
      content: '';
      width: 170px;
      height: 5px;
      background: #ccab81;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    #contact-page h3:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border-style: solid;
      border-width: 12px 12px 0 12px;
      border-color: #ccab81 transparent transparent transparent; }
  #contact-page form {
    padding-top: 85px; }
    @media (max-width: 1400px) {
      #contact-page form {
        padding-top: 25px; } }
    #contact-page form input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 3px solid #ccab81;
      background: transparent;
      margin-bottom: 35px;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      color: #696969;
      font-weight: 700; }
    #contact-page form input[type="submit"] {
      max-width: 240px;
      display: table;
      margin: 0 auto 70px auto;
      text-transform: uppercase;
      color: #ccab81;
      -webkit-transition: all 1.2s;
      transition: all 1.2s; }
      #contact-page form input[type="submit"]:hover {
        color: #ffffff;
        background: #ccab81; }
      @media (max-width: 1400px) {
        #contact-page form input[type="submit"] {
          margin: 0 auto 15px auto; } }
    #contact-page form textarea {
      resize: none;
      padding: 10px;
      min-height: 215px;
      border: 3px solid #ccab81;
      width: 100%;
      margin-bottom: 35px;
      background: transparent;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      color: #696969;
      font-weight: 700; }
  #contact-page ul.contact_info {
    margin: 0 auto; }
    #contact-page ul.contact_info li {
      display: inline-block;
      padding: 5px;
      color: #ccab81;
      font-size: 16px;
      font-style: italic; }
      #contact-page ul.contact_info li img {
        padding-right: 10px; }
  #contact-page .contact_text {
    display: table;
    margin: 50px auto 50px auto;
    text-align: center;
    color: #696969;
    font-size: 16px;
    font-style: italic;
    width: 60%; }
    @media (max-width: 1400px) {
      #contact-page .contact_text {
        margin: 20px auto 20px auto;
        width: 90%; } }
    @media (max-width: 991px) {
      #contact-page .contact_text {
        margin: 25px auto 25px auto;
        width: 60%; } }
  #contact-page footer {
    width: 100%;
    position: relative;
    bottom: 0;
    min-height: 50px;
    background: #ccab81; }
    @media (max-width: 1366px) {
      #contact-page footer {
        position: relative; } }
    #contact-page footer p {
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-style: italic;
      padding-top: 15px; }
      #contact-page footer p a {
        color: #ffffff;
        font-size: 16px;
        font-style: italic; }
        #contact-page footer p a:hover {
          color: #ffffff;
          font-size: 16px;
          font-style: italic;
          text-decoration: none; }

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #434343; }

/*# sourceMappingURL=style.css.map */
