.comment-list-container {
	padding-bottom: 30px;
	font-size: 12px;

	.please-log-in {
		margin-bottom: 40px;
	}

	.no-messages {
		//
	}

	.comment {
		border-bottom: 1px dotted black;
		padding-bottom: 8px;

		margin-top: 8px;
		position: relative;

		.avatar {
			float: left;

			width: 50px;
		}

		.youtube {
			height: 300px;
		}

		.comment-content {
			float: left;

			margin-left: 12px;

			width: 520px;
			word-wrap: break-word;

			h5 {
				margin-top: 3px;

				font-size: 12px;
				font-weight: 400;

				a {
					color: black;
					font-weight: 700;
				}
			}

			blockquote {
				border: 0;
				border-top: 1px dotted black;
				border-bottom: 1px dotted black;

				padding: 4px 10px;
				margin: 10px 0;

				background: #eaeaea;
			}
		}

		.quote-button {
			position: absolute;
			top: 0;
			right: 0;

			i {
				cursor: pointer;
			}

			.icon-custom-times {
				margin-left: 5px;
			}
		}
	}

	.comment-form {
		margin-top: 20px;

		textarea {
			width: 100%;
			height: 120px;

			resize: none;

			-moz-box-sizing: border-box;
			box-sizing: border-box;

			font-size: 12px;
			line-height: 16px;
		}
	}
}

.comment-list-tiny {
	.hidden {
		display: none;
	}

	.comment-form {
		margin-top: 20px;

		textarea {
			width: 100%;
			height: 60px;

			resize: none;

			-moz-box-sizing: border-box;
			box-sizing: border-box;

			font-size: 12px;
			line-height: 16px;
		}
	}

	.comment-box {
		max-height: 300px;
		overflow-y: auto;

		padding-right: 5px;

		.comment {
			.comment-content {
				width: 200px;
			}

			.youtube {
				height: 150px;
			}
		}
	}
}