/*BASE FONTS*/
$WorkSans: 'Work Sans', sans-serif;
/*END BASE FONTS*/

/*BASE FONT COLORS*/

$primaryTextColor: #ffffff;
$secondaryTextColor: #6d523d;
$thirdTextColor: #555555;
$fourthTextColor: #dfb535;

$activeColor: #dfb535;

/*END BASE FONT COLORS*/

/*BASE COLORS*/
$primaryColor: #dfb535;
$secondaryColor: #6d523d;
$thirdColor: #ffffff;

$footerLinkColor: #c05656;

$black: #000000;
$white: #ffffff;

/*END BASE COLORS*/

/*MIXINS*/

@mixin font($fontSize: 16px, $fontWeight: 400){
  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin flexBox($flexWrap: nowrap, $justifyContent: flex-start, $alignItems: stretch, $alignContent: stretch){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: $flexWrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
  align-content: $alignContent;
}

@mixin prefix($style,$value){
  -webkit-#{$style}: $value;
  #{$style}: $value;
}

@mixin media($query, $maxOrMin: max, $widthOrHeight: width){
  @media all and (#{$maxOrMin}-#{$widthOrHeight}: $query){
    @content;
  }
}

/*END MIXINS*/


/* ANIMATIONS*/
@keyframes icon-hang {
  0% {
    -webkit-transform: translate(-50%,0px);
    transform: translate(-50%,0px);
  }
  25% {
    -webkit-transform: translate(-50%,6px);
    transform: translate(-50%,6px);
  }
  50% {
    -webkit-transform: translate(-50%,2px);
    transform: translate(-50%,2px);
  }
  75% {
    -webkit-transform: translate(-50%,6px);
    transform: translate(-50%,6px);
  }
  100% {
    -webkit-transform: translate(-50%,0px);
    transform: translate(-50%,0px);
  }
}
/* END ANIMATIONS*/

/*DEFAULT STYLES*/

*{
  box-sizing: border-box;
  position: relative;

  @include prefix(outline, none);
}

html,body{
  font-size: 16px;
  overflow-x: hidden;
  font-family: $WorkSans;
}

a{
  text-decoration: none;

  &:hover,&:focus,&:active,&:visited{
    text-decoration: none;
    color: inherit;
  }
}

p{
  margin: 0;
}

/*END DEFAULT STYLES*/

/*USEFULL STYLES*/

.no-padding{
  padding: 0!important;
}

.no-margin{
  margin: 0!important;
}

.col-md-no-padding-left{
  padding-left: 0!important;

  @include media(991px){
    padding-left: 15px;
  }
}

.col-md-no-padding-right{
  padding-right: 0!important;

  @include media(991px){
    padding-right: 15px;
  }
}

.mgTop_75{
  margin-top: 75px!important;
}

.bgFirstShape{
  background: url("../images/bg.png") no-repeat bottom;
}

.bgSecondShape{
  background: url("../images/bg2.png") no-repeat bottom;
}

.bgThirdShape{
  background: url("../images/bg3.png") no-repeat bottom;
}

.more{
  max-width: 240px;
  width: 100%;
  margin: 30px auto;
  text-transform: uppercase;
  padding: 10px 0;
  display: block;
  text-align: center;
  border: 1px solid $primaryColor;

  color: $primaryTextColor!important;
  background: $primaryColor;

  @include font(20px, 300);
  @include prefix(transition, all .5s);

  &.fullWidthButton{
    max-width: 100%;
    margin: 0 auto;
  }

  &:hover{
    background: $thirdColor;
    color: $activeColor!important;
  }

  @include media(1200px){
    @include font(20px, 300);
  }

  @include media(991px){
    max-width: 220px;

    @include font(18px, 300);
  }

  @include media(768px){
    max-width: 200px;

    @include font(16px, 300);
  }
}

.breakLine{
  display: table;
  width: 100%;
  min-width: 240px;
  height: 2px;
  margin: 15px auto;
  background: $primaryColor;

  @include media(578px){
    min-width: 150px;
  }

  &.thinLine{
    height: 1px;
  }

  &.thinLineNews{
    height: 1px;
    background: $secondaryColor;
  }

  &.whiteLine{
    background: $thirdColor;
  }
}

.pattern{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url("../images/pattern.png") repeat;
}

.blackOverlay{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($black, 0.35);
  z-index: 1;
}

.blackLighterOverlay{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($black, 0.1);
  z-index: 1;
}

.page-scroll{
  position: absolute;
  bottom: 50px;
  left: 50%;

  @include prefix(transform, translate(-50%,0));

  @include media(1200px){
    bottom: 30px;
  }

  @include media(991px){
    bottom: 20px;
  }

  &:hover{
    animation-name: icon-hang;
    -webkit-animation-name: icon-hang;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

.mainTitleHolder{
  display: table;
  margin: 0 auto;

  &.abs{
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    max-width: 50%;
    text-shadow: none;
    margin: 0;
    position: absolute;
    display: table;
    z-index: 12;

    @include prefix(transform,translate(-50%,-50%));

    @include media(650px,max,height){
      top: auto;
      left: auto;
      position: relative;
      padding: 150px 0;
      display: table;
      margin: 0 auto;

      @include prefix(transform,translate(0,0));
    }

    @include media(768px){
      top: auto;
      left: auto;
      position: relative;
      padding: 150px 0;
      display: table;
      margin: 0 auto;

      @include prefix(transform,translate(0,0));
    }
  }

  &.pageSection{
    padding: 200px 0 100px 0;
    position: relative;
    z-index: 5;
  }

  .dateHolder{
    h5{
      text-align: center;
      margin: 0;

      @include font(30px, 300);

      @include media(1200px){
        @include font(25px, 300);
      }

      @include media(991px){
        @include font(20px, 300);
      }

      @include media(768px){
        @include font(18px, 300);
      }

      @include media(578px){
        @include font(16px, 300);
      }
    }
  }

  .imgHolder{
    img{
      display: table;
      margin: 0 auto 40px auto;

      @include media(991px){
        max-width: 120px;
      }

      @include media(768px){
        max-width: 100px;
      }
    }
  }

  .titleHolder{
    h2{
      text-transform: uppercase;
      text-align: center;
      margin: 0;

      @include font(43px,700);

      @include media(1200px){
        @include font(35px, 700);
      }

      @include media(991px){
        @include font(30px, 700);
      }

      @include media(768px){
        @include font(25px, 700);
      }

      @include media(578px){
        @include font(20px, 700);
      }
    }

    h3{
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      color: $secondaryTextColor;

      @include font(25px,400);

    }

    h4{
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      color: $primaryTextColor;

      @include font(25px,400);

      @include media(1200px){
        @include font(22px,400);
      }

    }
  }

  .subTitleHolder{
    h3{
      text-align: center;
      margin: 0;

      @include font(30px, 300);

      @include media(1200px){
        @include font(25px, 300);
      }

      @include media(991px){
        @include font(20px, 300);
      }

      @include media(768px){
        @include font(18px, 300);
      }

      @include media(578px){
        @include font(16px, 300);
      }
    }
  }
}

/*END USEFULL STYLES*/

/* DEFAULT STYLES */

p{
  margin: 0;
}

/* END DEFAULT STYLES */

/* MAIN SECTION */


//MAIN NAVIGATION

header.mainNav {
  position: absolute;
  z-index: 50;
  display: block;
  width: 100%;

  .navbar-brand.logo {
    max-width: 110px;
    height: auto;
    display: none;
    margin-left: 15px;

    @include media(991px) {
      display: block;
    }
  }

  .navbar {
    height: auto;
    margin: 0;
    border-radius: 0;
  }

  .navbar-default {
    border: 0;
    background: none;
  }

  @include media(991px) {
    .navbar-toggle {
      margin: 0 30px 0 0;
      position: absolute;
      top: 50%;
      right: 0;

      @include prefix(transform, translate(0, -50%));

    }
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
  }

  .navbar-default .navbar-nav {

    @include media(991px){
      padding: 10px 0;
      background: rgba($black, 0.7);
    }

    & > li {
      padding: 25px 25px 20px 25px;
      min-width: 180px;

      @include media(1340px) {
        min-width: 136px;
        padding: 25px 10px 20px 10px;
      }

      @include media(1200px) {
        padding: 25px 10px 20px 10px;
      }

      @include media(991px) {
        padding: 10px 0 5px 0;
        display: table;
        margin: 0 auto;
      }

      & > a {
        color: $primaryTextColor;
        text-transform: uppercase;
        padding: 0 0 5px 0;
        border-bottom: 1px solid transparent;
        text-align: center;
        display: table;
        margin: 0 auto;

        @include font(18px, 400);

        @include media(1340px) {
          @include font(16px, 400);
        }
      }
    }
  }

  .navbar-header{
    @include media(991px){
      background: rgba($black, 0.7);
    }
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background: none;
    color: $activeColor;
    border-bottom: 1px solid $primaryColor;
  }

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: none;
    color: $activeColor;
    border-bottom: 1px solid $primaryColor;
  }

  #mainMenu{
    .navbar-nav{
      float: none;
      //overflow: hidden;

      @include flexBox(nowrap, center, center, center);

      @include media(991px){
        display: block;
        margin: 0;
      }
    }
  }


  .logoMenu{
    max-width: 230px;
    width: 100%;
    a:hover, a:focus, a:active, a:visited{
      border-bottom: 1px solid transparent!important;
    }
    img{
      margin: 0 auto;
      max-width: 110px;
    }

    .normalLogo{
      display: block;
    }

    .scrollLogo{
      display: none;
    }

    @include media(991px){
      display: none!important;
    }
  }

  .menuTriangle{
    width: 230px;
    height: 230px;
    position: absolute;
    top: -115px;
    left: 50%;
    pointer-events: none;
    border-bottom: 1px solid $activeColor;
    border-left: 1px solid $activeColor;

    @include prefix(transform, translate(-50%,0) rotate(-45deg));

    @include media(991px){
      display: none;
    }
  }

  @include media(991px) {
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      //margin: 7.5px -15px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-text {
      float: none;
      margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
      display: block!important;
    }
    .collapsing {
      overflow: hidden!important;
    }
  }

}


//SCROLL MENU

header.mainNav.scrollMenu{

  @include media(992px,min){
    position: fixed;
    background: $white;
    overflow: hidden;
    border-bottom: 2px solid $primaryColor;

    @include prefix(transition, all .5s);

    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
      background: none;
      color: $activeColor;
      border-bottom: 1px solid $primaryColor;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
      background: none;
      color: $activeColor;
      border-bottom: 1px solid $primaryColor;
    }

    .navbar-default .navbar-nav {

      & > li {
        padding: 0px 25px 0px 25px;

        @include media(1200px){
          padding: 0px 10px 0px 10px;
        }

        & > a {
          color: $thirdTextColor;
          text-transform: uppercase;
          padding: 0 0 0 0;
          border-bottom: 1px solid transparent;
          text-align: center;

          @include font(18px, 400);
        }
      }
    }

    .logoMenu{
      max-width: 230px;
      width: 100%;
      a:hover, a:focus, a:active, a:visited{
        border-bottom: 1px solid transparent!important;
      }
      img{
        margin: 0 auto;
        max-width: 80px;
      }

      .scrollLogo{
        display: block;
      }

      .normalLogo{
        display: none;
      }

      @include media(991px){
        display: none!important;
      }
    }

    .menuTriangle {
      width: 130px;
      height: 130px;
      top: -35px;
      border: 1px solid $primaryColor;
    }
  }
}

//END MAIN NAVIGATION



// SLIDER STYLING
.slider{
  .carousel-indicators{
    bottom: 120px;
    margin-left: 0;

    @include prefix(transform, translate(-50%,0));

    @include media(1200px){
      bottom: 80px;
    }

    @include media(991px){
      bottom: 60px;
    }

    li{
      width: 20px;
      height: 20px;
      border: none;
      background: rgba($black, 0.35);
      margin: 0 10px;

      &.active{
        background: $primaryColor;
        width: 20px;
        height: 20px;
        margin: 0 10px;
      }
    }
  }

  .carousel-control{
    width: 40px;
    height: 65px;
    z-index: 10;

    &.left,&.right{
      background-image: none;
    }

    &.left {
      background: url("../images/arrowWhite.png") no-repeat 0 0;
      left: 5%;
      top: 50%;

      @include prefix(transform, translate(-0,-50%));
    }
    &.right{
      background: url("../images/arrowWhite.png") no-repeat -40px 0;
      right: 5%;
      top: 50%;

      @include prefix(transform, translate(-0,-50%));
    }
  }

  .carousel-caption{
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    max-width: 50%;
    text-shadow: none;

    display: table;

    @include prefix(transform,translate(-50%,-50%));

    @include media(650px,max,height){
      top: auto;
      left: auto;
      position: relative;
      padding: 200px 0;
      display: table;
      margin: 0 auto;

      @include prefix(transform,translate(0,0));
    }

    @include media(768px){
      top: auto;
      left: auto;
      position: relative;
      padding: 150px 0;
      display: table;
      margin: 0 auto;

      @include prefix(transform,translate(0,0));
    }
  }

  .carousel-inner{
    .item{
      background-size: cover!important;
      min-height: 100vh;

      @include media(650px,max,height){
        min-height: 0;
      }

      @include media(768px){
        min-height: 0;
      }
    }
  }
}
//END SLIDER STYLING


//NEWS STYLING AND PRODUCT PAGE

.news, .products{
  padding: 90px 0;
}

.newsBoxHolder, .productBoxHolder{
  margin: 90px auto;
}

.newsElement{
  display: none;
}
.newsBox, .productBox{
  margin: 15px auto;
  display: block;
  max-width: 350px;
  background: $white;

  @include prefix(box-shadow, 0px 0px 10px -2px $black);

  @include media(1200px){
    margin: 60px auto;
  }

  @include media(991px){
    margin: 40px auto;
  }

  .newsImg{
    img{
      display: table;
      margin: 0 auto;
    }
  }

  .newsDescription, .productDescription{
    padding: 20px;
    border-top: 1px solid $primaryColor;
    h4{
      margin: 0 0 20px 0;
      color: $fourthTextColor;
      text-transform: uppercase;

      @include font(18px, 500);
    }

    p{
      color: $secondaryTextColor;

      @include font(14px, 300);
    }
  }

  .newsDateAndMore, .productDateAndMore{
    border-top: 1px solid $fourthTextColor;

    p,a{
      text-align: center;
      padding: 10px;
      display: block;

      @include font(15px, 300);
    }

    a{
      border-left: 1px solid $fourthTextColor;
      color: $fourthTextColor;

      @include media(991px){
        border-left: 0;
        border-top: 1px solid $fourthTextColor;
      }
    }
  }

}

//END NEWS STYLING

//OFFER STYLING

.offer{
  min-height: 100vh;
  background-size: cover!important;
  color: $primaryTextColor;

  @include media(650px,max,height){
    min-height: 0;
  }

  .container{
    min-height: inherit;

    .col-md-12{
      min-height: inherit;
    }
  }
}

//END OFFER STYLING

//PURCHASE OF CATTLE STYLING

.purchaseOfCattle{
  padding: 90px 0;
}

.purchaseOfCattleDescription{
  margin: 90px 0;

  @include media(1200px){
    margin: 60px auto;
  }

  @include media(991px){
    margin: 40px auto;
  }

  p{
    margin: 0;
    text-align: center;

    @include font(20px, 300);

    & + p{
      padding-top: 50px;
    }

    @include media(1200px){
      @include font(18px, 300);
    }

    @include media(991px){
      @include font(16px, 300);

      & + p{
        padding-top: 30px;
      }
    }
  }
}

//END PURCHASE OF CATTLE STYLING

//DOWNLOAD PRODUCTS STYLING

.downloadProducts{
  background-size: cover!important;
  min-height: 350px;

  a.downloadProductsButton{
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border: 4px dashed $primaryColor;
    z-index: 5;

    @include prefix(transition, all .5s);

    &:hover{
      background: rgba($primaryColor,.3);
    }

    .downloadDescriptionHolder{
      position: absolute;
      top: 50%;
      left: 50%;

      @include prefix(transform, translate(-50%, -50%));

      .textDownload{
        color: $primaryTextColor;
        text-transform: uppercase;
        margin-bottom: 40px;
        display: block;
        text-align: center;

        @include font(43px, 300);

        @include media(1200px){
          @include font(35px, 300);
        }

        @include media(991px){
          @include font(30px, 300);
        }

        @include media(768px){
          @include font(25px, 300);
        }
      }

      img{
        display: table;
        margin: 0 auto;
      }
    }

  }
}

//END DOWNLOAD PRODUCTS STYLING

//CONTACT MAP STYLING

.contactMap {
  min-height: 400px;

  #map{
    min-height: 400px;
  }
}

//END CONTACT MAP STYLING


//CONTACT STYLING

.contact{
  padding: 90px 0;
}

.contactForm{
  margin: 90px 0;

  @include media(1200px){
    margin: 60px auto;
  }

  @include media(991px){
    margin: 40px auto;
  }

  form{
    input,textarea{
      width: 100%;
      border: 1px solid $primaryColor;
      color: $secondaryTextColor;
      padding: 15px;

      margin: 15px 0;

      @include font(18px , 300);
    }

    textarea{
      min-height: 145px;
      resize: none;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $secondaryTextColor;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $secondaryTextColor;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $secondaryTextColor;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $secondaryTextColor;
    }

    .more{
      display: table;
      margin: 0 auto;
    }

  }
}

.contactInfo{
  ul{
    display: table;
    margin: 0 auto;

    li{
      float: left;
      display: inline-block;
      padding: 0 10px;

      @include media(578px){
        display: block;
        float: none;
        text-align: center;
        padding: 10px;
      }

      a{
        color: $secondaryTextColor;
      }

      img{
        margin-right: 5px;
      }
    }
  }
}

//END CONTACT STYLING

//PRE-FOOTER STYLING

.prefooter{
  padding: 60px 0;
  background: $secondaryColor;
  color: $primaryTextColor;
  text-align: center;

  @include font(20px, 300);

  @include media(1200px){
    @include font(18px, 300);
  }

  @include media(991px){
    @include font(16px, 300);
  }

  .container{
    z-index: 3;
  }

  .socialHolder{
    padding-top: 40px;

    ul{
      display: table;
      margin: 0 auto;

      li{
        display: inline-block;
        float: left;
        padding: 0 25px;

        @include media(578px){
          display: block;
          float: none;
          text-align: center;
          padding: 10px;
        }

        a img{
          display: table;
          margin: 0 auto;
        }
      }
    }
  }
}

//END PRE-FOOTER STYLING

//FOOTER STYLING

footer{
  background: $secondaryColor;
  color: $primaryTextColor;
  text-align: center;
  padding: 10px;

  @include font(20px, 300);

  @include media(1200px){
    @include font(18px, 300);
  }

  @include media(991px){
    @include font(16px, 300);
  }

  .container{
    z-index: 3;
  }

  a{
    color: $footerLinkColor;

    &:hover, &:focus, &:active, &:visited {
      color: $footerLinkColor;
    }
  }
}

//END FOOTER STYLING

/*END MAIN SECTION*/

/*NEWS PAGE SECTION*/

.mainPageSection{
  background-size: cover!important;
  min-height: 450px;
  color: $primaryTextColor;

  .container-fluid{
    min-height: inherit;
  }
}

/*END NEWS PAGE SECTION*/


/*NEWS DESCRIPTION PAGE*/

.newsDescription{
  padding: 90px 0;
}

#descriptionSlider{
  .carousel-indicators{
    bottom: 10px;
    margin-left: 0;

    @include prefix(transform, translate(-50%,0));

    li{
      width: 20px;
      height: 20px;
      border: none;
      background: rgba($black, 0.35);
      margin: 0 10px;

      &.active{
        background: $primaryColor;
        width: 20px;
        height: 20px;
        margin: 0 10px;
      }

      @include media(991px){
        width: 15px;
        height: 15px;
        margin: 0 5px;

        &.active{
          width: 15px;
          height: 15px;
          margin: 0 5px;
        }
      }
    }
  }

  .carousel-control{
    width: 40px;
    height: 65px;
    z-index: 10;

    &.left,&.right{
      background-image: none;
    }

    &.left {
      background: url("../images/arrowWhite.png") no-repeat 0 0 rgba($black,0.2);
      left: 5%;
      top: 50%;

      @include prefix(transform, translate(-0,-50%));
    }
    &.right{
      background: url("../images/arrowWhite.png") no-repeat -40px 0 rgba($black,0.2);
      right: 5%;
      top: 50%;

      @include prefix(transform, translate(-0,-50%));
    }
  }
}

.titleNews{

  .mainTitle{
    h4{
      color: $secondaryTextColor;
      margin: 20px 0;

      @include font(25px, 500);
    }
  }

  .infoNewsHolder{
    color: $secondaryTextColor;

    ul{
      li{
        display: inline-block;
        float: left;

        @include font(15px, 300);

        @include media(568px){
          float: none;
          display: block;
        }

        &:last-child{
          padding-left: 15px;

          @include media(568px){
            padding: 0;
          }
        }

        img{
          padding-right: 5px;
        }
      }
    }
  }
}

.descriptionText{
  line-height: 1.5em;

  @include font(20px, 300);

  @include media(991px){
    @include font(18px, 300);
  }

  @include media(768px){
    @include font(16px, 300);
  }

  p{
    padding: 40px 0;

    & + p{
      padding: 0 0 40px 0;
    }
  }
}

/*END NEWS DESCRIPTION PAGE*/

/*HOW WE OPERATE AND PURCHASE OF CATTLE AND ABOUT US*/

.mainDescriptionSectionPage{
  padding: 90px 0;
}

.sectionPageDescription{
  text-align: center;

  @include font(20px, 300);

  @include media(991px){
    @include font(18px, 300);
  }

  @include media(768px){
    @include font(16px, 300);
  }

  p{
    margin: 0;

    &:first-child{
      padding-top: 90px;

      @include media(991px){
        padding-top: 60px;
      }
    }

    & + p{
      padding-top:40px;

      @include media(991px){
        padding-top: 30px;
      }
    }
  }
}

.sectionPageDescriptionFlexBox{
  @include flexBox(wrap, center,stretch,stretch);

  .col-md-6{
    @include flexBox(nowrap, center,stretch,stretch);
  }
}

.imgAboutUs{
  background-size: cover!important;


  @include media(991px){
    min-height: 500px;
    width: 100%;
  }
}

//DESCRIPTION TEXT BOX
.sectionPageDescriptionText{
  width: 100%;
  padding: 100px 75px;
  background: url("../images/patternBg.jpg") repeat;

  @include media(991px){
    padding: 75px 50px;
  }

  @include media(768px){
    padding: 50px 25px;
  }


  h4{
    text-align: left;
    margin: 0;
    text-transform: uppercase;

    @include font(30px, 500);

    @include media(991px){
      @include font(25px,500);
    }

    @include media(768px){
      @include font(22px,500);
    }
  }

  p{
    padding-top: 40px;
    text-align: left;

    @include font(20px, 300);

    @include media(991px){
      @include font(18px, 300);
    }

    @include media(768px){
      @include font(16px, 300);
    }
  }
}
//END DESCRIPTION TEXT BOX

//PRICELIST
.priceList{
  padding: 90px 0;
}

.priceListDescription{
  margin: 90px 0;

  @include media(1200px){
    margin: 60px auto;
  }

  @include media(991px){
    margin: 40px auto;
  }

  p{
    margin: 0;
    text-align: center;

    @include font(20px, 300);

    & + p{
      padding-top: 50px;
    }

    @include media(1200px){
      @include font(18px, 300);
    }

    @include media(991px){
      @include font(16px, 300);

      & + p{
        padding-top: 30px;
      }
    }
  }
}

//END PRICELIST

//CERTIFICATIONS
.certifications{
  padding: 90px 0;

  .certificationsHolder{
    padding-top: 90px;

    ul{
      display: table;
      margin: 0 auto;
      text-align: center;
      li{
        display: inline-block;
        text-align: center;
        padding: 10px;

        img{
          max-width: 170px;

          @include media(1200px){
            max-width: 150px;
          }

          @include media(991px){
            max-width: 120px;
          }
        }
      }
    }
  }
}
//END CERTIFICATIONS

/*END HOW WE OPERATE AMD PURCHASE OF CATTLE*/

/*PRODUCTS*/

.productSelection{
  color: $primaryTextColor;

}

.productFullSize{
  min-height: 100vh;
  background-size: cover!important;

  @include media(650px,max,height){
    width: 100%;
  }
}

.productHalfSize{
  min-height: 50vh;
  background-size: cover!important;

  @include media(650px,max,height){
    width: 100%;
  }
}

/*END PRODUCTS*/


/*ANOTHER PRODUCTS DESCRIPTION*/

.anotherProductsDescription{
  padding: 90px 0;
}

.productDescriptionFlexBox{
  padding: 90px 0;

  @include flexBox(wrap, center, center, stretch);

  @include media(991px){
    padding: 60px 0;
  }

  @include media(768px){
    padding: 40px 0;
  }

  @include media(991px){
    .col-md-6{
      width: 100%;
    }
  }
}

#productsSlider{
  border: 2px solid $primaryColor;
  display: block;
  width: 100%;

  .carousel-indicators{
    bottom: 10px;
    margin-left: 0;

    @include prefix(transform, translate(-50%,0));

    li{
      width: 20px;
      height: 20px;
      border: none;
      background: rgba($black, 0.35);
      margin: 0 10px;

      &.active{
        background: $primaryColor;
        width: 20px;
        height: 20px;
        margin: 0 10px;
      }

      @include media(991px){
        width: 15px;
        height: 15px;
        margin: 0 5px;

        &.active{
          width: 15px;
          height: 15px;
          margin: 0 5px;
        }
      }
    }
  }

  .carousel-control{
    width: 40px;
    height: 65px;
    z-index: 10;

    &.left,&.right{
      background-image: none;
    }

    &.left {
      background: url("../images/arrowWhite.png") no-repeat 0 0 rgba($black,0.2);
      left: 0;
      top: 50%;

      @include prefix(transform, translate(-0,-50%));
    }
    &.right{
      background: url("../images/arrowWhite.png") no-repeat -40px 0 rgba($black,0.2);
      right: 0;
      top: 50%;

      @include prefix(transform, translate(-0,-50%));
    }
  }
}

.productDescriptionContent{
  padding: 90px 0;

  @include media(991px){
    padding: 60px 0;
  }

  @include media(768px){
    padding: 40px 0;
  }

  h4{
    color: $secondaryTextColor;
    margin-bottom: 40px;
    text-transform: uppercase;

    @include font(30px,500);

    @include media(991px){
      margin-bottom: 20px;

      @include font(25px,500);
    }

    @include media(768px){
      @include font(20px,500);
    }
  }

  p{
    color: $secondaryTextColor;

    @include font(20px, 300);

    @include media(991px){
      @include font(18px,300);
    }

    @include media(768px){
      @include font(16px,300);
    }
  }
}
/*END ANOTHER PRODUCTS DESCRIPTION*/

/*ABOUT US*/

.logoChange{
  padding: 90px 0;
}

.logoChangeHolder{
  ul{
    @include flexBox(wrap, center, center, center);

    @include media(768px){
      display: block;
      margin: 0 auto;
    }
    li{
      display: inline-block;
      padding: 10px 20px;

      @include media(768px){
        display: block;
        margin: 0 auto;

        &:nth-child(2){
          padding: 20px 10px;

          @include prefix(transform,rotate(90deg));
        }
      }
      img{
        margin: 0 auto;
      }
    }
  }
}

/*END ABOUT US*/

/*PRODUCTS DESCRIPTION*/

.productsDescription{
  padding: 90px 0;
}

.howToPrepare{
  padding: 90px 0;
  background: $secondaryColor;

  .container{
    position: relative;
    z-index: 5;
  }

  .howToPrepareHolder{
    padding-top:45px;

    ul{
      display: table;
      margin: 0 auto;
      text-align: center;

      li{
        display: inline-block;
        padding: 10px;

        p{
          color: $primaryTextColor;
          text-align: center;
          padding:20px 0 0 0;
        }
      }
    }
    .cicrleHolder{
      width: 150px;
      height: 150px;
      border: 1px solid $thirdColor;
      display: block;

      @include prefix(border-radius, 50%);

      img{
        display: table;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;

        @include prefix(transform, translate(-50%,-50%));
      }
    }
  }
}

.video{
  padding: 90px 0;

  .videoContent{
    padding: 90px 0;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.imgMapHolder{
  padding: 90px 0 0 0;

  img{
    display: table;
    margin: 0 auto;
  }
}

.meatPartsSelection{
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: $secondaryTextColor;
  text-transform: uppercase;
  background: url("../images/patternBg.jpg") repeat;

  @include font(25px, 700);

  &.moreMargin{
    margin: 0 0 90px 0;
  }
}

/*END PRODUCTS DESCRIPTION*/
