/*BASE FONTS*/
/*END BASE FONTS*/
/*BASE FONT COLORS*/
/*END BASE FONT COLORS*/
/*BASE COLORS*/
/*END BASE COLORS*/
/*MIXINS*/
/*END MIXINS*/
/* ANIMATIONS*/
@keyframes icon-hang {
  0% {
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  25% {
    -webkit-transform: translate(-50%, 6px);
    transform: translate(-50%, 6px);
  }
  50% {
    -webkit-transform: translate(-50%, 2px);
    transform: translate(-50%, 2px);
  }
  75% {
    -webkit-transform: translate(-50%, 6px);
    transform: translate(-50%, 6px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
}
/* END ANIMATIONS*/
/*DEFAULT STYLES*/
* {
  box-sizing: border-box;
  position: relative;
  -webkit-outline: none;
  outline: none;
}

html, body {
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

/*END DEFAULT STYLES*/
/*USEFULL STYLES*/
.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.col-md-no-padding-left {
  padding-left: 0 !important;
}
@media all and (max-width: 991px) {
  .col-md-no-padding-left {
    padding-left: 15px;
  }
}

.col-md-no-padding-right {
  padding-right: 0 !important;
}
@media all and (max-width: 991px) {
  .col-md-no-padding-right {
    padding-right: 15px;
  }
}

.mgTop_75 {
  margin-top: 75px !important;
}

.bgFirstShape {
  background: url("../images/bg.png") no-repeat bottom;
}

.bgSecondShape {
  background: url("../images/bg2.png") no-repeat bottom;
}

.bgThirdShape {
  background: url("../images/bg3.png") no-repeat bottom;
}

.more {
  max-width: 240px;
  width: 100%;
  margin: 30px auto;
  text-transform: uppercase;
  padding: 10px 0;
  display: block;
  text-align: center;
  border: 1px solid #dfb535;
  color: #ffffff !important;
  background: #dfb535;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.more.fullWidthButton {
  max-width: 100%;
  margin: 0 auto;
}
.more:hover {
  background: #ffffff;
  color: #dfb535 !important;
}
@media all and (max-width: 1200px) {
  .more {
    font-size: 20px;
    font-weight: 300;
  }
}
@media all and (max-width: 991px) {
  .more {
    max-width: 220px;
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 768px) {
  .more {
    max-width: 200px;
    font-size: 16px;
    font-weight: 300;
  }
}

.breakLine {
  display: table;
  width: 100%;
  min-width: 240px;
  height: 2px;
  margin: 15px auto;
  background: #dfb535;
}
@media all and (max-width: 578px) {
  .breakLine {
    min-width: 150px;
  }
}
.breakLine.thinLine {
  height: 1px;
}
.breakLine.thinLineNews {
  height: 1px;
  background: #6d523d;
}
.breakLine.whiteLine {
  background: #ffffff;
}

.pattern {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url("../images/pattern.png") repeat;
}

.blackOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.blackLighterOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.page-scroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media all and (max-width: 1200px) {
  .page-scroll {
    bottom: 30px;
  }
}
@media all and (max-width: 991px) {
  .page-scroll {
    bottom: 20px;
  }
}
.page-scroll:hover {
  animation-name: icon-hang;
  -webkit-animation-name: icon-hang;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.mainTitleHolder {
  display: table;
  margin: 0 auto;
}
.mainTitleHolder.abs {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  max-width: 50%;
  text-shadow: none;
  margin: 0;
  position: absolute;
  display: table;
  z-index: 12;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media all and (max-height: 650px) {
  .mainTitleHolder.abs {
    top: auto;
    left: auto;
    position: relative;
    padding: 150px 0;
    display: table;
    margin: 0 auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media all and (max-width: 768px) {
  .mainTitleHolder.abs {
    top: auto;
    left: auto;
    position: relative;
    padding: 150px 0;
    display: table;
    margin: 0 auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.mainTitleHolder.pageSection {
  padding: 200px 0 100px 0;
  position: relative;
  z-index: 5;
}
.mainTitleHolder .dateHolder h5 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
@media all and (max-width: 1200px) {
  .mainTitleHolder .dateHolder h5 {
    font-size: 25px;
    font-weight: 300;
  }
}
@media all and (max-width: 991px) {
  .mainTitleHolder .dateHolder h5 {
    font-size: 20px;
    font-weight: 300;
  }
}
@media all and (max-width: 768px) {
  .mainTitleHolder .dateHolder h5 {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 578px) {
  .mainTitleHolder .dateHolder h5 {
    font-size: 16px;
    font-weight: 300;
  }
}
.mainTitleHolder .imgHolder img {
  display: table;
  margin: 0 auto 40px auto;
}
@media all and (max-width: 991px) {
  .mainTitleHolder .imgHolder img {
    max-width: 120px;
  }
}
@media all and (max-width: 768px) {
  .mainTitleHolder .imgHolder img {
    max-width: 100px;
  }
}
.mainTitleHolder .titleHolder h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 43px;
  font-weight: 700;
}
@media all and (max-width: 1200px) {
  .mainTitleHolder .titleHolder h2 {
    font-size: 35px;
    font-weight: 700;
  }
}
@media all and (max-width: 991px) {
  .mainTitleHolder .titleHolder h2 {
    font-size: 30px;
    font-weight: 700;
  }
}
@media all and (max-width: 768px) {
  .mainTitleHolder .titleHolder h2 {
    font-size: 25px;
    font-weight: 700;
  }
}
@media all and (max-width: 578px) {
  .mainTitleHolder .titleHolder h2 {
    font-size: 20px;
    font-weight: 700;
  }
}
.mainTitleHolder .titleHolder h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: #6d523d;
  font-size: 25px;
  font-weight: 400;
}
.mainTitleHolder .titleHolder h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
}
@media all and (max-width: 1200px) {
  .mainTitleHolder .titleHolder h4 {
    font-size: 22px;
    font-weight: 400;
  }
}
.mainTitleHolder .subTitleHolder h3 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
@media all and (max-width: 1200px) {
  .mainTitleHolder .subTitleHolder h3 {
    font-size: 25px;
    font-weight: 300;
  }
}
@media all and (max-width: 991px) {
  .mainTitleHolder .subTitleHolder h3 {
    font-size: 20px;
    font-weight: 300;
  }
}
@media all and (max-width: 768px) {
  .mainTitleHolder .subTitleHolder h3 {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 578px) {
  .mainTitleHolder .subTitleHolder h3 {
    font-size: 16px;
    font-weight: 300;
  }
}

/*END USEFULL STYLES*/
/* DEFAULT STYLES */
p {
  margin: 0;
}

/* END DEFAULT STYLES */
/* MAIN SECTION */
header.mainNav {
  position: absolute;
  z-index: 50;
  display: block;
  width: 100%;
}
header.mainNav .navbar-brand.logo {
  max-width: 110px;
  height: auto;
  display: none;
  margin-left: 15px;
}
@media all and (max-width: 991px) {
  header.mainNav .navbar-brand.logo {
    display: block;
  }
}
header.mainNav .navbar {
  height: auto;
  margin: 0;
  border-radius: 0;
}
header.mainNav .navbar-default {
  border: 0;
  background: none;
}
@media all and (max-width: 991px) {
  header.mainNav .navbar-toggle {
    margin: 0 30px 0 0;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}
header.mainNav .navbar-default .navbar-collapse, header.mainNav .navbar-default .navbar-form {
  border: 0;
}
@media all and (max-width: 991px) {
  header.mainNav .navbar-default .navbar-nav {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.7);
  }
}
header.mainNav .navbar-default .navbar-nav > li {
  padding: 25px 25px 20px 25px;
  min-width: 180px;
}
@media all and (max-width: 1340px) {
  header.mainNav .navbar-default .navbar-nav > li {
    min-width: 136px;
    padding: 25px 10px 20px 10px;
  }
}
@media all and (max-width: 1200px) {
  header.mainNav .navbar-default .navbar-nav > li {
    padding: 25px 10px 20px 10px;
  }
}
@media all and (max-width: 991px) {
  header.mainNav .navbar-default .navbar-nav > li {
    padding: 10px 0 5px 0;
    display: table;
    margin: 0 auto;
  }
}
header.mainNav .navbar-default .navbar-nav > li > a {
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  border-bottom: 1px solid transparent;
  text-align: center;
  display: table;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
}
@media all and (max-width: 1340px) {
  header.mainNav .navbar-default .navbar-nav > li > a {
    font-size: 16px;
    font-weight: 400;
  }
}
@media all and (max-width: 991px) {
  header.mainNav .navbar-header {
    background: rgba(0, 0, 0, 0.7);
  }
}
header.mainNav .navbar-default .navbar-nav > li > a:focus, header.mainNav .navbar-default .navbar-nav > li > a:hover {
  background: none;
  color: #dfb535;
  border-bottom: 1px solid #dfb535;
}
header.mainNav .navbar-default .navbar-nav > .active > a, header.mainNav .navbar-default .navbar-nav > .active > a:focus, header.mainNav .navbar-default .navbar-nav > .active > a:hover {
  background: none;
  color: #dfb535;
  border-bottom: 1px solid #dfb535;
}
header.mainNav #mainMenu .navbar-nav {
  float: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media all and (max-width: 991px) {
  header.mainNav #mainMenu .navbar-nav {
    display: block;
    margin: 0;
  }
}
header.mainNav .logoMenu {
  max-width: 230px;
  width: 100%;
}
header.mainNav .logoMenu a:hover, header.mainNav .logoMenu a:focus, header.mainNav .logoMenu a:active, header.mainNav .logoMenu a:visited {
  border-bottom: 1px solid transparent !important;
}
header.mainNav .logoMenu img {
  margin: 0 auto;
  max-width: 110px;
}
header.mainNav .logoMenu .normalLogo {
  display: block;
}
header.mainNav .logoMenu .scrollLogo {
  display: none;
}
@media all and (max-width: 991px) {
  header.mainNav .logoMenu {
    display: none !important;
  }
}
header.mainNav .menuTriangle {
  width: 230px;
  height: 230px;
  position: absolute;
  top: -115px;
  left: 50%;
  pointer-events: none;
  border-bottom: 1px solid #dfb535;
  border-left: 1px solid #dfb535;
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
  transform: translate(-50%, 0) rotate(-45deg);
}
@media all and (max-width: 991px) {
  header.mainNav .menuTriangle {
    display: none;
  }
}
@media all and (max-width: 991px) {
  header.mainNav {
    /* since 3.1.0 */
  }
  header.mainNav .navbar-header {
    float: none;
  }
  header.mainNav .navbar-toggle {
    display: block;
  }
  header.mainNav .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  header.mainNav .navbar-collapse.collapse {
    display: none !important;
  }
  header.mainNav .navbar-nav {
    float: none !important;
  }
  header.mainNav .navbar-nav > li {
    float: none;
  }
  header.mainNav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header.mainNav .navbar-text {
    float: none;
    margin: 15px 0;
  }
  header.mainNav .navbar-collapse.collapse.in {
    display: block !important;
  }
  header.mainNav .collapsing {
    overflow: hidden !important;
  }
}

@media all and (min-width: 992px) {
  header.mainNav.scrollMenu {
    position: fixed;
    background: #ffffff;
    overflow: hidden;
    border-bottom: 2px solid #dfb535;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header.mainNav.scrollMenu .navbar-default .navbar-nav > li > a:focus, header.mainNav.scrollMenu .navbar-default .navbar-nav > li > a:hover {
    background: none;
    color: #dfb535;
    border-bottom: 1px solid #dfb535;
  }
  header.mainNav.scrollMenu .navbar-default .navbar-nav > .active > a, header.mainNav.scrollMenu .navbar-default .navbar-nav > .active > a:focus, header.mainNav.scrollMenu .navbar-default .navbar-nav > .active > a:hover {
    background: none;
    color: #dfb535;
    border-bottom: 1px solid #dfb535;
  }
  header.mainNav.scrollMenu .navbar-default .navbar-nav > li {
    padding: 0px 25px 0px 25px;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  header.mainNav.scrollMenu .navbar-default .navbar-nav > li {
    padding: 0px 10px 0px 10px;
  }
}
@media all and (min-width: 992px) {
  header.mainNav.scrollMenu .navbar-default .navbar-nav > li > a {
    color: #555555;
    text-transform: uppercase;
    padding: 0 0 0 0;
    border-bottom: 1px solid transparent;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  header.mainNav.scrollMenu .logoMenu {
    max-width: 230px;
    width: 100%;
  }
  header.mainNav.scrollMenu .logoMenu a:hover, header.mainNav.scrollMenu .logoMenu a:focus, header.mainNav.scrollMenu .logoMenu a:active, header.mainNav.scrollMenu .logoMenu a:visited {
    border-bottom: 1px solid transparent !important;
  }
  header.mainNav.scrollMenu .logoMenu img {
    margin: 0 auto;
    max-width: 80px;
  }
  header.mainNav.scrollMenu .logoMenu .scrollLogo {
    display: block;
  }
  header.mainNav.scrollMenu .logoMenu .normalLogo {
    display: none;
  }
}
@media all and (min-width: 992px) and (max-width: 991px) {
  header.mainNav.scrollMenu .logoMenu {
    display: none !important;
  }
}
@media all and (min-width: 992px) {
  header.mainNav.scrollMenu .menuTriangle {
    width: 130px;
    height: 130px;
    top: -35px;
    border: 1px solid #dfb535;
  }
}

.slider .carousel-indicators {
  bottom: 120px;
  margin-left: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media all and (max-width: 1200px) {
  .slider .carousel-indicators {
    bottom: 80px;
  }
}
@media all and (max-width: 991px) {
  .slider .carousel-indicators {
    bottom: 60px;
  }
}
.slider .carousel-indicators li {
  width: 20px;
  height: 20px;
  border: none;
  background: rgba(0, 0, 0, 0.35);
  margin: 0 10px;
}
.slider .carousel-indicators li.active {
  background: #dfb535;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.slider .carousel-control {
  width: 40px;
  height: 65px;
  z-index: 10;
}
.slider .carousel-control.left, .slider .carousel-control.right {
  background-image: none;
}
.slider .carousel-control.left {
  background: url("../images/arrowWhite.png") no-repeat 0 0;
  left: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.slider .carousel-control.right {
  background: url("../images/arrowWhite.png") no-repeat -40px 0;
  right: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.slider .carousel-caption {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  max-width: 50%;
  text-shadow: none;
  display: table;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media all and (max-height: 650px) {
  .slider .carousel-caption {
    top: auto;
    left: auto;
    position: relative;
    padding: 200px 0;
    display: table;
    margin: 0 auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media all and (max-width: 768px) {
  .slider .carousel-caption {
    top: auto;
    left: auto;
    position: relative;
    padding: 150px 0;
    display: table;
    margin: 0 auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.slider .carousel-inner .item {
  background-size: cover !important;
  min-height: 100vh;
}
@media all and (max-height: 650px) {
  .slider .carousel-inner .item {
    min-height: 0;
  }
}
@media all and (max-width: 768px) {
  .slider .carousel-inner .item {
    min-height: 0;
  }
}

.news, .products {
  padding: 90px 0;
}

.newsBoxHolder, .productBoxHolder {
  margin: 90px auto;
}

.newsElement {
  display: none;
}

.newsBox, .productBox {
  margin: 15px auto;
  display: block;
  max-width: 350px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px -2px #000000;
  box-shadow: 0px 0px 10px -2px #000000;
}
@media all and (max-width: 1200px) {
  .newsBox, .productBox {
    margin: 60px auto;
  }
}
@media all and (max-width: 991px) {
  .newsBox, .productBox {
    margin: 40px auto;
  }
}
.newsBox .newsImg img, .productBox .newsImg img {
  display: table;
  margin: 0 auto;
}
.newsBox .newsDescription, .newsBox .productDescription, .productBox .newsDescription, .productBox .productDescription {
  padding: 20px;
  border-top: 1px solid #dfb535;
}
.newsBox .newsDescription h4, .newsBox .productDescription h4, .productBox .newsDescription h4, .productBox .productDescription h4 {
  margin: 0 0 20px 0;
  color: #dfb535;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.newsBox .newsDescription p, .newsBox .productDescription p, .productBox .newsDescription p, .productBox .productDescription p {
  color: #6d523d;
  font-size: 14px;
  font-weight: 300;
}
.newsBox .newsDateAndMore, .newsBox .productDateAndMore, .productBox .newsDateAndMore, .productBox .productDateAndMore {
  border-top: 1px solid #dfb535;
}
.newsBox .newsDateAndMore p, .newsBox .newsDateAndMore a, .newsBox .productDateAndMore p, .newsBox .productDateAndMore a, .productBox .newsDateAndMore p, .productBox .newsDateAndMore a, .productBox .productDateAndMore p, .productBox .productDateAndMore a {
  text-align: center;
  padding: 10px;
  display: block;
  font-size: 15px;
  font-weight: 300;
}
.newsBox .newsDateAndMore a, .newsBox .productDateAndMore a, .productBox .newsDateAndMore a, .productBox .productDateAndMore a {
  border-left: 1px solid #dfb535;
  color: #dfb535;
}
@media all and (max-width: 991px) {
  .newsBox .newsDateAndMore a, .newsBox .productDateAndMore a, .productBox .newsDateAndMore a, .productBox .productDateAndMore a {
    border-left: 0;
    border-top: 1px solid #dfb535;
  }
}

.offer {
  min-height: 100vh;
  background-size: cover !important;
  color: #ffffff;
}
@media all and (max-height: 650px) {
  .offer {
    min-height: 0;
  }
}
.offer .container {
  min-height: inherit;
}
.offer .container .col-md-12 {
  min-height: inherit;
}

.purchaseOfCattle {
  padding: 90px 0;
}

.purchaseOfCattleDescription {
  margin: 90px 0;
}
@media all and (max-width: 1200px) {
  .purchaseOfCattleDescription {
    margin: 60px auto;
  }
}
@media all and (max-width: 991px) {
  .purchaseOfCattleDescription {
    margin: 40px auto;
  }
}
.purchaseOfCattleDescription p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
.purchaseOfCattleDescription p + p {
  padding-top: 50px;
}
@media all and (max-width: 1200px) {
  .purchaseOfCattleDescription p {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 991px) {
  .purchaseOfCattleDescription p {
    font-size: 16px;
    font-weight: 300;
  }
  .purchaseOfCattleDescription p + p {
    padding-top: 30px;
  }
}

.downloadProducts {
  background-size: cover !important;
  min-height: 350px;
}
.downloadProducts a.downloadProductsButton {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 4px dashed #dfb535;
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.downloadProducts a.downloadProductsButton:hover {
  background: rgba(223, 181, 53, 0.3);
}
.downloadProducts a.downloadProductsButton .downloadDescriptionHolder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.downloadProducts a.downloadProductsButton .downloadDescriptionHolder .textDownload {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: block;
  text-align: center;
  font-size: 43px;
  font-weight: 300;
}
@media all and (max-width: 1200px) {
  .downloadProducts a.downloadProductsButton .downloadDescriptionHolder .textDownload {
    font-size: 35px;
    font-weight: 300;
  }
}
@media all and (max-width: 991px) {
  .downloadProducts a.downloadProductsButton .downloadDescriptionHolder .textDownload {
    font-size: 30px;
    font-weight: 300;
  }
}
@media all and (max-width: 768px) {
  .downloadProducts a.downloadProductsButton .downloadDescriptionHolder .textDownload {
    font-size: 25px;
    font-weight: 300;
  }
}
.downloadProducts a.downloadProductsButton .downloadDescriptionHolder img {
  display: table;
  margin: 0 auto;
}

.contactMap {
  min-height: 400px;
}
.contactMap #map {
  min-height: 400px;
}

.contact {
  padding: 90px 0;
}

.contactForm {
  margin: 90px 0;
}
@media all and (max-width: 1200px) {
  .contactForm {
    margin: 60px auto;
  }
}
@media all and (max-width: 991px) {
  .contactForm {
    margin: 40px auto;
  }
}
.contactForm form input, .contactForm form textarea {
  width: 100%;
  border: 1px solid #dfb535;
  color: #6d523d;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 300;
}
.contactForm form textarea {
  min-height: 145px;
  resize: none;
}
.contactForm form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6d523d;
}
.contactForm form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #6d523d;
}
.contactForm form :-ms-input-placeholder {
  /* IE 10+ */
  color: #6d523d;
}
.contactForm form :-moz-placeholder {
  /* Firefox 18- */
  color: #6d523d;
}
.contactForm form .more {
  display: table;
  margin: 0 auto;
}

.contactInfo ul {
  display: table;
  margin: 0 auto;
}
.contactInfo ul li {
  float: left;
  display: inline-block;
  padding: 0 10px;
}
@media all and (max-width: 578px) {
  .contactInfo ul li {
    display: block;
    float: none;
    text-align: center;
    padding: 10px;
  }
}
.contactInfo ul li a {
  color: #6d523d;
}
.contactInfo ul li img {
  margin-right: 5px;
}

.prefooter {
  padding: 60px 0;
  background: #6d523d;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
@media all and (max-width: 1200px) {
  .prefooter {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 991px) {
  .prefooter {
    font-size: 16px;
    font-weight: 300;
  }
}
.prefooter .container {
  z-index: 3;
}
.prefooter .socialHolder {
  padding-top: 40px;
}
.prefooter .socialHolder ul {
  display: table;
  margin: 0 auto;
}
.prefooter .socialHolder ul li {
  display: inline-block;
  float: left;
  padding: 0 25px;
}
@media all and (max-width: 578px) {
  .prefooter .socialHolder ul li {
    display: block;
    float: none;
    text-align: center;
    padding: 10px;
  }
}
.prefooter .socialHolder ul li a img {
  display: table;
  margin: 0 auto;
}

footer {
  background: #6d523d;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
}
@media all and (max-width: 1200px) {
  footer {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 991px) {
  footer {
    font-size: 16px;
    font-weight: 300;
  }
}
footer .container {
  z-index: 3;
}
footer a {
  color: #c05656;
}
footer a:hover, footer a:focus, footer a:active, footer a:visited {
  color: #c05656;
}

/*END MAIN SECTION*/
/*NEWS PAGE SECTION*/
.mainPageSection {
  background-size: cover !important;
  min-height: 450px;
  color: #ffffff;
}
.mainPageSection .container-fluid {
  min-height: inherit;
}

/*END NEWS PAGE SECTION*/
/*NEWS DESCRIPTION PAGE*/
.newsDescription {
  padding: 90px 0;
}

#descriptionSlider .carousel-indicators {
  bottom: 10px;
  margin-left: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#descriptionSlider .carousel-indicators li {
  width: 20px;
  height: 20px;
  border: none;
  background: rgba(0, 0, 0, 0.35);
  margin: 0 10px;
}
#descriptionSlider .carousel-indicators li.active {
  background: #dfb535;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
@media all and (max-width: 991px) {
  #descriptionSlider .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }
  #descriptionSlider .carousel-indicators li.active {
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }
}
#descriptionSlider .carousel-control {
  width: 40px;
  height: 65px;
  z-index: 10;
}
#descriptionSlider .carousel-control.left, #descriptionSlider .carousel-control.right {
  background-image: none;
}
#descriptionSlider .carousel-control.left {
  background: url("../images/arrowWhite.png") no-repeat 0 0 rgba(0, 0, 0, 0.2);
  left: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
#descriptionSlider .carousel-control.right {
  background: url("../images/arrowWhite.png") no-repeat -40px 0 rgba(0, 0, 0, 0.2);
  right: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.titleNews .mainTitle h4 {
  color: #6d523d;
  margin: 20px 0;
  font-size: 25px;
  font-weight: 500;
}
.titleNews .infoNewsHolder {
  color: #6d523d;
}
.titleNews .infoNewsHolder ul li {
  display: inline-block;
  float: left;
  font-size: 15px;
  font-weight: 300;
}
@media all and (max-width: 568px) {
  .titleNews .infoNewsHolder ul li {
    float: none;
    display: block;
  }
}
.titleNews .infoNewsHolder ul li:last-child {
  padding-left: 15px;
}
@media all and (max-width: 568px) {
  .titleNews .infoNewsHolder ul li:last-child {
    padding: 0;
  }
}
.titleNews .infoNewsHolder ul li img {
  padding-right: 5px;
}

.descriptionText {
  line-height: 1.5em;
  font-size: 20px;
  font-weight: 300;
}
@media all and (max-width: 991px) {
  .descriptionText {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 768px) {
  .descriptionText {
    font-size: 16px;
    font-weight: 300;
  }
}
.descriptionText p {
  padding: 40px 0;
}
.descriptionText p + p {
  padding: 0 0 40px 0;
}

/*END NEWS DESCRIPTION PAGE*/
/*HOW WE OPERATE AND PURCHASE OF CATTLE AND ABOUT US*/
.mainDescriptionSectionPage {
  padding: 90px 0;
}

.sectionPageDescription {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
@media all and (max-width: 991px) {
  .sectionPageDescription {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 768px) {
  .sectionPageDescription {
    font-size: 16px;
    font-weight: 300;
  }
}
.sectionPageDescription p {
  margin: 0;
}
.sectionPageDescription p:first-child {
  padding-top: 90px;
}
@media all and (max-width: 991px) {
  .sectionPageDescription p:first-child {
    padding-top: 60px;
  }
}
.sectionPageDescription p + p {
  padding-top: 40px;
}
@media all and (max-width: 991px) {
  .sectionPageDescription p + p {
    padding-top: 30px;
  }
}

.sectionPageDescriptionFlexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.sectionPageDescriptionFlexBox .col-md-6 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.imgAboutUs {
  background-size: cover !important;
}
@media all and (max-width: 991px) {
  .imgAboutUs {
    min-height: 500px;
    width: 100%;
  }
}

.sectionPageDescriptionText {
  width: 100%;
  padding: 100px 75px;
  background: url("../images/patternBg.jpg") repeat;
}
@media all and (max-width: 991px) {
  .sectionPageDescriptionText {
    padding: 75px 50px;
  }
}
@media all and (max-width: 768px) {
  .sectionPageDescriptionText {
    padding: 50px 25px;
  }
}
.sectionPageDescriptionText h4 {
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
@media all and (max-width: 991px) {
  .sectionPageDescriptionText h4 {
    font-size: 25px;
    font-weight: 500;
  }
}
@media all and (max-width: 768px) {
  .sectionPageDescriptionText h4 {
    font-size: 22px;
    font-weight: 500;
  }
}
.sectionPageDescriptionText p {
  padding-top: 40px;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}
@media all and (max-width: 991px) {
  .sectionPageDescriptionText p {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 768px) {
  .sectionPageDescriptionText p {
    font-size: 16px;
    font-weight: 300;
  }
}

.priceList {
  padding: 90px 0;
}

.priceListDescription {
  margin: 90px 0;
}
@media all and (max-width: 1200px) {
  .priceListDescription {
    margin: 60px auto;
  }
}
@media all and (max-width: 991px) {
  .priceListDescription {
    margin: 40px auto;
  }
}
.priceListDescription p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
.priceListDescription p + p {
  padding-top: 50px;
}
@media all and (max-width: 1200px) {
  .priceListDescription p {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 991px) {
  .priceListDescription p {
    font-size: 16px;
    font-weight: 300;
  }
  .priceListDescription p + p {
    padding-top: 30px;
  }
}

.certifications {
  padding: 90px 0;
}
.certifications .certificationsHolder {
  padding-top: 90px;
}
.certifications .certificationsHolder ul {
  display: table;
  margin: 0 auto;
  text-align: center;
}
.certifications .certificationsHolder ul li {
  display: inline-block;
  text-align: center;
  padding: 10px;
}
.certifications .certificationsHolder ul li img {
  max-width: 170px;
}
@media all and (max-width: 1200px) {
  .certifications .certificationsHolder ul li img {
    max-width: 150px;
  }
}
@media all and (max-width: 991px) {
  .certifications .certificationsHolder ul li img {
    max-width: 120px;
  }
}

/*END HOW WE OPERATE AMD PURCHASE OF CATTLE*/
/*PRODUCTS*/
.productSelection {
  color: #ffffff;
}

.productFullSize {
  min-height: 100vh;
  background-size: cover !important;
}
@media all and (max-height: 650px) {
  .productFullSize {
    width: 100%;
  }
}

.productHalfSize {
  min-height: 50vh;
  background-size: cover !important;
}
@media all and (max-height: 650px) {
  .productHalfSize {
    width: 100%;
  }
}

/*END PRODUCTS*/
/*ANOTHER PRODUCTS DESCRIPTION*/
.anotherProductsDescription {
  padding: 90px 0;
}

.productDescriptionFlexBox {
  padding: 90px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
@media all and (max-width: 991px) {
  .productDescriptionFlexBox {
    padding: 60px 0;
  }
}
@media all and (max-width: 768px) {
  .productDescriptionFlexBox {
    padding: 40px 0;
  }
}
@media all and (max-width: 991px) {
  .productDescriptionFlexBox .col-md-6 {
    width: 100%;
  }
}

#productsSlider {
  border: 2px solid #dfb535;
  display: block;
  width: 100%;
}
#productsSlider .carousel-indicators {
  bottom: 10px;
  margin-left: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#productsSlider .carousel-indicators li {
  width: 20px;
  height: 20px;
  border: none;
  background: rgba(0, 0, 0, 0.35);
  margin: 0 10px;
}
#productsSlider .carousel-indicators li.active {
  background: #dfb535;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
@media all and (max-width: 991px) {
  #productsSlider .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }
  #productsSlider .carousel-indicators li.active {
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }
}
#productsSlider .carousel-control {
  width: 40px;
  height: 65px;
  z-index: 10;
}
#productsSlider .carousel-control.left, #productsSlider .carousel-control.right {
  background-image: none;
}
#productsSlider .carousel-control.left {
  background: url("../images/arrowWhite.png") no-repeat 0 0 rgba(0, 0, 0, 0.2);
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
#productsSlider .carousel-control.right {
  background: url("../images/arrowWhite.png") no-repeat -40px 0 rgba(0, 0, 0, 0.2);
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.productDescriptionContent {
  padding: 90px 0;
}
@media all and (max-width: 991px) {
  .productDescriptionContent {
    padding: 60px 0;
  }
}
@media all and (max-width: 768px) {
  .productDescriptionContent {
    padding: 40px 0;
  }
}
.productDescriptionContent h4 {
  color: #6d523d;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
@media all and (max-width: 991px) {
  .productDescriptionContent h4 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
  }
}
@media all and (max-width: 768px) {
  .productDescriptionContent h4 {
    font-size: 20px;
    font-weight: 500;
  }
}
.productDescriptionContent p {
  color: #6d523d;
  font-size: 20px;
  font-weight: 300;
}
@media all and (max-width: 991px) {
  .productDescriptionContent p {
    font-size: 18px;
    font-weight: 300;
  }
}
@media all and (max-width: 768px) {
  .productDescriptionContent p {
    font-size: 16px;
    font-weight: 300;
  }
}

/*END ANOTHER PRODUCTS DESCRIPTION*/
/*ABOUT US*/
.logoChange {
  padding: 90px 0;
}

.logoChangeHolder ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media all and (max-width: 768px) {
  .logoChangeHolder ul {
    display: block;
    margin: 0 auto;
  }
}
.logoChangeHolder ul li {
  display: inline-block;
  padding: 10px 20px;
}
@media all and (max-width: 768px) {
  .logoChangeHolder ul li {
    display: block;
    margin: 0 auto;
  }
  .logoChangeHolder ul li:nth-child(2) {
    padding: 20px 10px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.logoChangeHolder ul li img {
  margin: 0 auto;
}

/*END ABOUT US*/
/*PRODUCTS DESCRIPTION*/
.productsDescription {
  padding: 90px 0;
}

.howToPrepare {
  padding: 90px 0;
  background: #6d523d;
}
.howToPrepare .container {
  position: relative;
  z-index: 5;
}
.howToPrepare .howToPrepareHolder {
  padding-top: 45px;
}
.howToPrepare .howToPrepareHolder ul {
  display: table;
  margin: 0 auto;
  text-align: center;
}
.howToPrepare .howToPrepareHolder ul li {
  display: inline-block;
  padding: 10px;
}
.howToPrepare .howToPrepareHolder ul li p {
  color: #ffffff;
  text-align: center;
  padding: 20px 0 0 0;
}
.howToPrepare .howToPrepareHolder .cicrleHolder {
  width: 150px;
  height: 150px;
  border: 1px solid #ffffff;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.howToPrepare .howToPrepareHolder .cicrleHolder img {
  display: table;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video {
  padding: 90px 0;
}
.video .videoContent {
  padding: 90px 0;
}
.video .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imgMapHolder {
  padding: 90px 0 0 0;
}
.imgMapHolder img {
  display: table;
  margin: 0 auto;
}

.meatPartsSelection {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: #6d523d;
  text-transform: uppercase;
  background: url("../images/patternBg.jpg") repeat;
  font-size: 25px;
  font-weight: 700;
}
.meatPartsSelection.moreMargin {
  margin: 0 0 90px 0;
}

/*END PRODUCTS DESCRIPTION*/

/*# sourceMappingURL=style.css.map */
