html, body {
	/**/
}

h1 {
	font-size: 29px !important;
}

.breadcrumb {
	margin: 10px 0 20px 0 !important;
}

.content-container {
	background: white;
	
	width: 1060px;
	min-height: 100%;
	
	padding: 60px 60px;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	margin: 0 auto;
}

.cke {
	margin-bottom: 10px !important;
}

.hiddenContainer {
	display: none;
}