.report-exporter {
	clear:both;
	border:1px solid #eeeeee;
	background:#fafafa;
	padding:5px;
}
.report-exporter .btn, .report-exporter .radio-group-toggle {
	float:right;
}

.report-exporter .txt {
	float:left;
	padding:5px;
}