@import "/lib/include.less";
#RegisterDialogWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/themes/common/images/dialog_bg.png");
  z-index: 100000;
}
#RegisterDialog {
  position: absolute;
  top: 20%;
  left: 50%;
  background: white;
  padding: 40px 40px 30px 40px;
  border: 10px solid rgba(0,0,0,0.2);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
