.ie8-box {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;

	background: firebrick;
    color: white;
    font-size: 16px;

	padding: 10px 20px;
}

.ie8-box a {
    color: white;
    text-decoration: underline;
}

.ie8-box .alert {
    background: url("alert.png") no-repeat;

    width: 104px;
    height: 104px;

    float: left;
}

.ie8-box .text {
    margin-top: 30px;
}