@charset "utf-8";

.rounded_corners (@radius: 10px) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

.rounded_corner_top_left (@radius: 10px) {
	-moz-border-top-left-radius: @radius;
	-webkit-border-top-left-radius: @radius;
	border-top-left-radius: @radius;
}

.rounded_corner_top_right (@radius: 10px) {
	-moz-border-top-right-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	border-top-right-radius: @radius;
}

.rounded_corner_bottom_left (@radius: 10px) {
	-moz-border-bottom-left-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	border-bottom-left-radius: @radius;
}

.rounded_corner_bottom_right (@radius: 10px) {
	-moz-border-bottom-right-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	border-bottom-right-radius: @radius;
}

.box_shadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: #757171) {
	-webkit-box-shadow: @hor @vert @blur @shadow;
	-moz-box-shadow: @hor @vert @blur @shadow;
	box-shadow: @hor @vert @blur @shadow;
}

.transition (@range: all, @time: 1s, @ease: ease-in-out) {
	-moz-transition: @range @time @ease;
	-webkit-transition: @range @time @ease;
	-o-transition: @range @time @ease;
	transition: @range @time @ease;
}

.font (@color: black, @size: 1em, @weight: normal, @decoration: none){
	color: @color;
	font-weight: @weight;
	font-size: @size;
	text-decoration: @decoration;
}

.box_sizing() {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.text_ellipsis() {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;

	overflow: hidden;
}

.background_clip (@clip: padding) {
	-webkit-background-clip: @clip;
	-moz-background-clip: @clip;
	background-clip: e("@{clip}-box");
}

.display_inline-block() {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.text_justify() {
	text-align: justify;

	&:after {
		.display_inline-block();

		width: 100%;
		height: 0;
		line-height: 0;
		font-size: 0;

		padding: 0;
		margin: 0;
		border: 0;

		position: static;

		content: '';
	}
}

* {
	margin: 0;
	padding: 0;
}