body.home {
  background: url("/themes/white/images/bg.jpg") no-repeat top center #000;
}
.home-box-padding-top {
  padding-top: 75px;
}
.home-box-padding-bottom {
  padding-bottom: 145px;
}
.slider_container {
  width: 640px;
}
.advertise-slider {
  width: 280px;
}
.whats-new {
  margin-top: 10px;
}
.whats-new .rate-stars {
  margin-top: 4px;
}
.whats-new .rate-stars i {
  cursor: pointer;
}
.whats-new .rate-stars i + i {
  margin-left: 1px;
}
.whats-new h5 {
  margin: 0;
}
.whats-new .place-name {
  float: left;
  width: 60%;
  word-wrap: break-word;
  margin-top: 15px;
}
.whats-new .current-mark {
  float: left;
  width: 39%;
  word-wrap: break-word;
  margin-top: 10px;
  text-align: right;
}
.whats-new .grade {
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
}
.whats-new .grade i {
  vertical-align: text-bottom;
  margin-right: 2px;
}
.whats-new .votes-count {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: left;
  width: 100%;
  margin-left: 15px;
}
.whats-new .buttons {
  margin-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px dotted #b1b1b1;
}
.advertise_box {
  height: 600px;
}
.home-slide {
  padding-bottom: 50px;
}
.home-slide .carousel-caption {
  background: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  right: auto;
  padding-left: 0;
}
.home-slide .carousel-caption h4 {
  color: black;
  font-size: 1.42em;
  background: #ffde00;
  float: left;
  padding: 10px 20px 5px 20px;
  margin-bottom: 0;
}
.home-slide .carousel-caption p {
  background: #ffde00;
  font-size: 0.85em;
  color: black;
  float: left;
  padding: 1px 20px 5px 20px;
}
.home-slide .carousel-caption .btn {
  float: right;
  position: relative;
  top: 40px;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.home-slide .thumbContainer {
  position: absolute;
  top: 0;
  right: 20px;
}
.home-slide .thumbContainer ul {
  list-style: none;
}
.home-slide .thumbContainer ul li {
  margin-top: 20px;
  cursor: pointer;
}
.home-slide .thumbContainer ul li:first-of-type {
  margin-top: 10px;
}
.title-header {
  color: #000000;
  padding-bottom: 8px;
  border-bottom: 2px solid #e6e6e6;
}
.club-page .column-info {
  background: #ededed;
  width: 310px;
  padding: 40px 40px 40px 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.club-page .title-header {
  border-bottom: 2px solid #bababa;
}
.club-page .column-content {
  width: 640px;
  margin-top: 30px;
}
.club-single-page .club-thumbnail {
  padding-bottom: 5px;
}
.club-single-page .place-container h5 {
  margin: 0;
}
.club-single-page .place-container .place-name {
  float: left;
  width: 60%;
  word-wrap: break-word;
}
.club-single-page .place-container .current-mark {
  float: left;
  width: 39%;
  word-wrap: break-word;
  text-align: right;
}
.club-single-page .place-container .grade {
  font-size: 14px;
  line-height: 23px;
}
.club-single-page .place-container .grade .text-purple {
  font-weight: bold;
}
.club-single-page .place-container .grade i {
  vertical-align: text-bottom;
  margin-right: 2px;
}
.club-single-page .place-container .votes-count {
  display: block;
  text-align: left;
  width: 100%;
  margin-left: 28px;
  font-size: 9px;
  line-height: 9px;
}
.club-single-page .place-container .rate-stars {
  margin-top: 5px;
}
.club-single-page .place-container .rate-stars i + i {
  margin-right: 2px;
  cursor: pointer;
}
.club-single-page .place-container .buttons {
  margin-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px dotted #b1b1b1;
}
.club-single-page .header-nav {
  float: right;
  width: 310px;
  font-weight: normal;
  font-size: 10px;
  margin-top: 10px;
}
.club-single-page .description {
  font-size: 12px;
}
