@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
#RegisterDialogWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/themes/common/images/dialog_bg.png");
  z-index: 100000;
}
#RegisterDialogWrapper #RegisterDialog {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -290px;
  background: white;
  width: 500px;
  padding: 40px 40px 30px 40px;
  border: 10px solid rgba(0,0,0,0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#RegisterDialogWrapper #RegisterDialog h5.title {
  border-bottom: 2px solid #d7d7d7;
  margin-bottom: 13px;
}
