#RegisterDialog {
  position: absolute;
  top: 20%;
  left: 50%;
  background: white;
  padding: 40px 40px 30px 40px;
  border: 10px solid rgba(0,0,0,0.1);
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
