/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 2.x
 *
 * Copyright 2013 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Built for http://www.improvely.com
 */

.customDatepicker.dropdown-menu {
	max-width: none;
	z-index: 3000;
}

.customDatepicker .ranges {
	text-align: center;
	margin: 5px 0;
}

.customDatepicker .ranges .range_inputs > div {
	float: left;
}

.customDatepicker .ranges .range_inputs > div:nth-child(2) {
	padding-left: 11px;
}

.customDatepicker .calendar {
	display: none;
	max-width: 250px;
}

.customDatepicker .calendar th, .customDatepicker .calendar td {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	white-space: nowrap;
	text-align: center;
}

.customDatepicker .ranges label {
	color: #333;
	font-size: 11px;
	margin-bottom: 2px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #fff;
}

.customDatepicker .ranges input {
	font-size: 11px;
}

.customDatepicker .ranges ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.customDatepicker .ranges li {
	font-size: 13px;
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
	color: #08c;
	padding: 3px 12px;
	margin-bottom: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.customDatepicker .ranges li.active, .customDatepicker .ranges li:hover {
	background: #08c;
	border: 1px solid #08c;
	color: #fff;
}

.customDatepicker .calendar-date {
	border: 1px solid #ddd;
	padding: 4px;
	border-radius: 4px;
	background: #fff;
}

.customDatepicker .calendar-time {
	text-align: center;
	margin: 8px auto 0 auto;
	line-height: 30px;
}

.customDatepicker {
	position: absolute;
	background: #fff;
	top: 100px;
	left: 20px;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.customDatepicker.opensleft:before {
	position: absolute;
	top: -7px;
	right: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.customDatepicker.opensleft:after {
	position: absolute;
	top: -6px;
	right: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	content: '';
}

.customDatepicker.opensright:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.customDatepicker.opensright:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	content: '';
}

.customDatepicker table {
	width: 100%;
	margin: 0;
}

.customDatepicker td, .customDatepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
}

.customDatepicker td.off {
	color: #999;
}

.customDatepicker td.disabled {
	color: #999;
}

.customDatepicker td.available:hover, .customDatepicker th.available:hover {
	background: #eee;
}

.customDatepicker td.in-range {
	background: #ebf4f8;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.customDatepicker td.active, .customDatepicker td.active:hover {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.customDatepicker td.week, .customDatepicker th.week {
	font-size: 80%;
	color: #ccc;
}

.customDatepicker select.monthselect, .customDatepicker select.yearselect {
	font-size: 12px;
	padding: 1px;
	height: auto;
	margin: 0;
	cursor: default;
}

.customDatepicker select.monthselect {
	margin-right: 2%;
	width: 56%;
}

.customDatepicker select.yearselect {
	width: 40%;
}

.customDatepicker select.hourselect, .customDatepicker select.minuteselect, .customDatepicker select.ampmselect {
	width: 60px;
	margin-bottom: 0;
}
