#RegisterDialog {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 40px 40px 30px 40px;
  border: 10px solid rgba(0,0,0,0.5);
  -moz-border-radius: 5px;
  border-radius: 5px;
}
